.light-blue.lighten-5 { background-color: #e1f5fe !important; }

.light-blue-text.text-lighten-5 { color: #e1f5fe !important; }

.light-blue.lighten-4 { background-color: #b3e5fc !important; }

.light-blue-text.text-lighten-4 { color: #b3e5fc !important; }

.light-blue.lighten-3, .enventure-card-container .light-blue.mdl-card__media.blank { background-color: #81d4fa !important; }

.light-blue-text.text-lighten-3 { color: #81d4fa !important; }

.light-blue.lighten-2 { background-color: #4fc3f7 !important; }

.light-blue-text.text-lighten-2 { color: #4fc3f7 !important; }

.light-blue.lighten-1 { background-color: #29b6f6 !important; }

.light-blue-text.text-lighten-1 { color: #29b6f6 !important; }

.light-blue { background-color: #03a9f4 !important; }

.light-blue-text { color: #03a9f4 !important; }

.light-blue.darken-1 { background-color: #039be5 !important; }

.light-blue-text.text-darken-1 { color: #039be5 !important; }

.light-blue.darken-2 { background-color: #0288d1 !important; }

.light-blue-text.text-darken-2 { color: #0288d1 !important; }

.light-blue.darken-3 { background-color: #0277bd !important; }

.light-blue-text.text-darken-3 { color: #0277bd !important; }

.light-blue.darken-4 { background-color: #01579b !important; }

.light-blue-text.text-darken-4 { color: #01579b !important; }

.light-blue.accent-1 { background-color: #80d8ff !important; }

.light-blue-text.text-accent-1 { color: #80d8ff !important; }

.light-blue.accent-2 { background-color: #40c4ff !important; }

.light-blue-text.text-accent-2 { color: #40c4ff !important; }

.light-blue.accent-3 { background-color: #00b0ff !important; }

.light-blue-text.text-accent-3 { color: #00b0ff !important; }

.light-blue.accent-4 { background-color: #0091ea !important; }

.light-blue-text.text-accent-4 { color: #0091ea !important; }

.blue-grey.lighten-5, .enventure-card-container .lighten-5.mdl-card__media.blank { background-color: #eceff1 !important; }

.blue-grey-text.text-lighten-5 { color: #eceff1 !important; }

.blue-grey.lighten-4, .enventure-card-container .lighten-4.mdl-card__media.blank { background-color: #cfd8dc !important; }

.blue-grey-text.text-lighten-4 { color: #cfd8dc !important; }

.blue-grey.lighten-3, .enventure-card-container .mdl-card__media.blank { background-color: #b0bec5 !important; }

.blue-grey-text.text-lighten-3 { color: #b0bec5 !important; }

.blue-grey.lighten-2, .enventure-card-container .lighten-2.mdl-card__media.blank { background-color: #90a4ae !important; }

.blue-grey-text.text-lighten-2 { color: #90a4ae !important; }

.blue-grey.lighten-1, .enventure-card-container .lighten-1.mdl-card__media.blank { background-color: #78909c !important; }

.blue-grey-text.text-lighten-1 { color: #78909c !important; }

.blue-grey, .enventure-card-container .mdl-card__media.blank { background-color: #607d8b !important; }

.blue-grey-text { color: #607d8b !important; }

.blue-grey.darken-1, .enventure-card-container .darken-1.mdl-card__media.blank { background-color: #546e7a !important; }

.blue-grey-text.text-darken-1 { color: #546e7a !important; }

.blue-grey.darken-2, .enventure-card-container .darken-2.mdl-card__media.blank { background-color: #455a64 !important; }

.blue-grey-text.text-darken-2 { color: #455a64 !important; }

.blue-grey.darken-3, .enventure-card-container .darken-3.mdl-card__media.blank { background-color: #37474f !important; }

.blue-grey-text.text-darken-3 { color: #37474f !important; }

.blue-grey.darken-4, .enventure-card-container .darken-4.mdl-card__media.blank { background-color: #263238 !important; }

.blue-grey-text.text-darken-4 { color: #263238 !important; }

.grey.lighten-5 { background-color: #fafafa !important; }

.grey-text.text-lighten-5 { color: #fafafa !important; }

.grey.lighten-4 { background-color: #f5f5f5 !important; }

.grey-text.text-lighten-4 { color: #f5f5f5 !important; }

.grey.lighten-3, .enventure-card-container .grey.mdl-card__media.blank { background-color: #eeeeee !important; }

.grey-text.text-lighten-3 { color: #eeeeee !important; }

.grey.lighten-2 { background-color: #e0e0e0 !important; }

.grey-text.text-lighten-2 { color: #e0e0e0 !important; }

.grey.lighten-1 { background-color: #bdbdbd !important; }

.grey-text.text-lighten-1 { color: #bdbdbd !important; }

.grey { background-color: #9e9e9e !important; }

.grey-text { color: #9e9e9e !important; }

.grey.darken-1 { background-color: #757575 !important; }

.grey-text.text-darken-1 { color: #757575 !important; }

.grey.darken-2 { background-color: #616161 !important; }

.grey-text.text-darken-2 { color: #616161 !important; }

.grey.darken-3 { background-color: #424242 !important; }

.grey-text.text-darken-3 { color: #424242 !important; }

.grey.darken-4 { background-color: #212121 !important; }

.grey-text.text-darken-4 { color: #212121 !important; }

.shades.black { background-color: #000000 !important; }

.shades-text.text-black { color: #000000 !important; }

.shades.white { background-color: #FFFFFF !important; }

.shades-text.text-white { color: #FFFFFF !important; }

.shades.transparent { background-color: transparent !important; }

.shades-text.text-transparent { color: transparent !important; }

.black { background-color: #000000 !important; }

.black-text { color: #000000 !important; }

.white { background-color: #FFFFFF !important; }

.white-text { color: #FFFFFF !important; }

.transparent { background-color: transparent !important; }

.transparent-text { color: transparent !important; }

/* ==========  Color Palettes  ========== */
/* colors.scss */
/* overrides */
h1, h2, h3, h4, h5, h6, .mdl-typography--display-1, .mdl-typography--display-1-color-contrast, .mdl-typography--display-2, .mdl-typography--display-2-color-contrast, .mdl-typography--display-3, .mdl-typography--display-3-color-contrast, .mdl-typography--display-4, .mdl-typography--display-4-color-contrast, .mdl-typography--headline, .mdl-typography--headline-color-contrast, .mdl-typography--subhead, .mdl-typography--subhead-color-contrast, .mdl-typography--title, .mdl-typography--title-color-contrast, .mdl-typography--body-1, .mdl-typography--body-2, .mdl-typography--body-2-color-contrast-color-contrast, .mdl-typography--body-2-force-preferred-font, .mdl-typography--caption, .mdl-typography--caption-color-contrast, .mdl-typography--menu, .mdl-button, .mdl-layout__title, .mdl-chip, .mdl-layout__title, .mdl-layout-title, blockquote, .mdl-badge[data-badge]:after, .mdl-list__item { font-family: 'Lato', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; }

h1, h2, h3, h4, h5, h6, .mdl-typography--title, .mdl-typography--title-color-contrast, .mdl-typography--headline, .mdl-typography--headline-color-contrast, .mdl-badge[data-badge]:after { font-weight: 700; }

.mdl-list__item { font-weight: 300; }

.mdl-typography--display-1-color-contrast { color: rgba(0, 0, 0, 0.54); opacity: 1; }

.env-typography--mission { color: rgba(0, 0, 0, 0.87); opacity: 1; font-weight: 300; }

body { margin: 0; font-family: 'Lato', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; }

.enventure-drawer lato { color: white; }

lato, .lato, lato-sm, .lato-sm { font-family: 'Lato', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; }

lato-sm, .lato-sm { font-size: 80%; }

a { color: #0091ea; text-decoration: none; }

lora, .lora, .enventure, .logo-font, enventure, .enventure-sub-slogan, .enventure-top-section .mdl-typography--display-4 { font-family: Lora, Georgia, Times, "Times New Roman", serif; letter-spacing: normal; }

.enventure, .logo-font, enventure { color: #0091ea; font-weight: 400; text-transform: none; }

.env-color--light { color: #00b0ff; }

.env-typography--icon-size { font-size: 16px; }
.env-typography--icon-size .material-icons { position: relative; top: 6px; }

.fixed-width { max-width: 1200px; margin: auto; }

cite { display: block; margin: 1em 40px; position: relative; font-size: 16px; font-weight: 300; }
cite::before { position: absolute; left: -.5em; content: '-'; }

.mdl-grid { -ms-flex-pack: distribute; justify-content: space-around; }

/* Disable ugly boxes around images in IE10 */
a img { border: 0px; }

::-moz-selection { color: #fff; }

::selection { color: #fff; }

/*.enventure-search-box .mdl-textfield__input { color: rgba(0, 0, 0, 0.87);
}*/
.enventure-header .mdl-menu__container { z-index: 50; margin: 0 !important; }

.mdl-textfield--expandable { width: auto; }

.enventure-fab { position: absolute; right: 5%; bottom: -26px; z-index: 3; }

.enventure-mobile-title { display: none !important; }

.enventure-logo-image { height: 28px; width: 140px; }

.enventure-header { overflow: visible; background-color: white; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.enventure-header .material-icons { color: #767777 !important; }

.enventure-header .mdl-layout__drawer-button { background: transparent; color: #767777; }

.enventure-header .mdl-navigation__link { color: #757575; font-weight: 700; font-size: 14px; }

.enventure-navigation-container { /* Simple hack to make the overflow happen to the left instead... */ direction: rtl; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s cubic-bezier(0.4, 0, 0.2, 1); transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s cubic-bezier(0.4, 0, 0.2, 1); }

.enventure-navigation { direction: ltr; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.enventure-search-box.is-focused + .enventure-navigation-container { opacity: 0; width: 100px; }

.enventure-navigation .mdl-navigation__link { display: inline-block; height: 60px; line-height: 68px; background-color: transparent !important; border-bottom: 4px solid transparent; }

.enventure-navigation .mdl-navigation__link:hover { border-bottom: 4px solid #0091ea; cursor: pointer; }

.enventure-search-box { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; margin-left: 16px; margin-right: 16px; }

.enventure-more-button { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; }

.enventure-drawer { border-right: none; }

.enventure-drawer-separator { height: 1px; background-color: #dcdcdc; margin: 8px 0; }

.enventure-drawer .mdl-navigation__link.mdl-navigation__link { font-size: 14px; color: #757575; }

.enventure-drawer span.mdl-navigation__link.mdl-navigation__link { color: #0091ea; }

.enventure-drawer .mdl-layout-title { position: relative; background: #0091ea; height: 160px; color: white; }

.enventure-drawer .mdl-layout-title span { position: absolute; bottom: 16px; }

.enventure-drawer .enventure-logo-image { position: absolute; bottom: 16px; }

.enventure-top-section .mdl-grid { padding: 0; }

.enventure-top-section { position: relative; height: 800px; background-color: #f3f3f3; background: url("../images/houstonWC.svg") center center no-repeat; background-size: cover; }

.section, .section__block { box-sizing: border-box; display: -webkit-box; display: -ms-flexbox; display: flex; }

.section__block { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 20px; }
@media only screen and (max-width: 839px) { .section__block { padding: 0 8px; } }

.enventure-top-section .mdl-grid .section__block { margin: 0; }
.enventure-top-section .mdl-grid .section__block.section__block--left { padding: 16px; height: 350px; }
@media only screen and (min-width: 840px) { .enventure-top-section .mdl-grid .section__block.section__block--left { width: 60%; height: 800px; padding: 50px 32px; } }
@media only screen and (min-width: 1024px) { .enventure-top-section .mdl-grid .section__block.section__block--left { padding: 50px; } }
.enventure-top-section .mdl-grid .section__block.section__block--right { background: rgba(225, 245, 254, 0.8); background: -webkit-linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)); background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)); padding: 50px 16px; width: 40%; margin: 0; height: 800px; overflow-y: auto; }
.enventure-top-section .mdl-grid .section__block.section__block--right::-webkit-scrollbar { /* This is the magic bit */ display: none; }
@media (min-width: 1024px) { .enventure-top-section .mdl-grid .section__block.section__block--right { padding: 50px; } }

.enventure-slogan { font-weight: 300; color: white; }
@media (max-width: 839px) { .enventure-slogan { font-size: 26px; text-align: center; } }

.enventure-sub-slogan, .enventure-top-section .mdl-typography--display-4 { color: white; font-weight: 700; text-shadow: 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.12); font-size: 90px; }
@media (max-width: 839px) { .enventure-sub-slogan, .enventure-top-section .mdl-typography--display-4 { font-size: 48px; text-align: center; } }

@media only screen and (max-width: 839px) { .hide-small { display: none !important; } }
@media only screen and (min-width: 839px) { .hide-large { display: none !important; } }
.enventure-create-character { padding-top: 400px; }

.enventure-create-character a { text-decoration: none; color: #767777; font-weight: 300; }

.env-bg--fade { background-image: -webkit-linear-gradient(top, white, white, white, white, #f5f5f5); background-image: linear-gradient(180deg, white, white, white, white, #f5f5f5); }

.env-section--mission { position: relative; padding: 60px 0; }

.enventure-screens { text-align: right; width: 100%; white-space: nowrap; overflow-x: auto; }

.enventure-screen { text-align: center; }

.enventure-screen .enventure-link { margin-top: 16px; display: block; z-index: 2; }

.enventure-image-link { text-decoration: none; }

.enventure-wear { display: inline-block; width: 160px; margin-right: 32px; }

.enventure-wear .enventure-screen-image { width: 40%; z-index: 1; }

.enventure-phone { display: inline-block; width: 64px; margin-right: 48px; }

.enventure-phone .enventure-screen-image { width: 100%; z-index: 1; }

.enventure-tablet { display: inline-block; width: 110px; margin-right: 64px; }

.enventure-tablet .enventure-screen-image { width: 100%; z-index: 1; }

.enventure-tablet .enventure-link { display: block; z-index: 2; }

.enventure-tv { display: inline-block; width: 300px; margin-right: 80px; }

.enventure-tv .enventure-screen-image { width: 100%; z-index: 1; }

.enventure-auto { display: inline-block; width: 300px; overflow: hidden; }

.enventure-auto .enventure-screen-image { display: block; height: 300px; z-index: 1; }

.enventure-wear-section { position: relative; background: url("../images/sky.jpg") center center no-repeat; background-size: cover; height: 600px; }
@media screen and (max-width: 479px) { .enventure-wear-section { height: 600px; } }

.enventure-wear-band { position: absolute; bottom: 0; width: 100%; text-align: center; }

.enventure-wear-band-text { margin-left: 77%; padding: 24px; text-align: left; color: white; background: rgba(0, 0, 0, 0.4); }
@media (max-width: 1299px) { .enventure-wear-band-text { margin-left: 0%; padding: 16px; } }

.enventure-wear-band-text p { padding-top: 8px; }

.enventure-link { text-decoration: none; color: #0091ea !important; }

.enventure-link:hover { color: #01579B !important; }

.enventure-link .material-icons { position: relative; top: -1px; vertical-align: middle; }

.enventure-alt-link { text-decoration: none; color: #00b0ff !important; font-size: 16px; }

.enventure-alt-link:hover { color: #0091ea !important; }

.enventure-alt-link .material-icons { position: relative; top: 6px; }

.enventure-customized-section { text-align: center; background: url("../images/grassWC.svg") center bottom no-repeat; background-size: 100%; height: 450px; background-color: #e1f5fe; }

.enventure-customized-section-text { max-width: 500px; margin-left: auto; margin-right: auto; padding: 80px 16px 0 16px; }

.enventure-customized-section-text p { padding-top: 16px; }

.enventure-customized-section-image { background: url("../images/grassWC.svg") center top no-repeat; background-size: cover; height: 400px; }

.env-section--programs-cards { padding-bottom: 48px; }

.enventure-card-container .mdl-card__media { overflow: hidden; background: transparent; }

.enventure-card-container .mdl-card__media img { width: 100%; }

.enventure-card-container .mdl-card__title { background: transparent; height: auto; padding-left: 0; padding-right: 0; margin-left: 16px; margin-right: 16px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); border-top: 1px solid rgba(0, 0, 0, 0.1); }

.enventure-card-container .mdl-card__supporting-text { padding-bottom: 56px; }

.enventure-card-container .mdl-card__actions { position: absolute; bottom: 0; margin-left: 16px; margin-right: 16px; width: calc(100% - 32px); padding-left: 0; padding-right: 0; }

.enventure-card-container .mdl-card__actions a { border-top: none; font-size: 16px; }

.enventure-footer { color: inherit; background-color: #fafafa; background-image: -webkit-linear-gradient(bottom, #90a4ae, #546e7a); background-image: linear-gradient(0deg, #90a4ae, #546e7a); background-image: linear-gradient(0deg, #90a4ae, #546e7a); position: relative; }

.enventure-footer a:hover { color: #0091ea; }

.enventure-footer .mdl-mega-footer--top-section::after { border-bottom: none; }

.enventure-footer .mdl-mega-footer--middle-section::after { border-bottom: none; }

.enventure-footer .mdl-mega-footer--bottom-section { position: relative; }

.enventure-footer .mdl-mega-footer--bottom-section a { margin-right: 2em; }

.enventure-footer .mdl-mega-footer--right-section a .material-icons { position: relative; top: 6px; }

.enventure-link-menu:hover { cursor: pointer; }

/**** Mobile layout ****/
@media (max-width: 839px) { .enventure-navigation-container { display: none; }
  .enventure-title { display: none !important; }
  .enventure-mobile-title { display: block !important; position: absolute; left: calc(50% - 70px); top: 12px; -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1); transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
  /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break consecutive "+" operators in some cases. Therefore, we need to use both here to cover all the bases. */
  .enventure.enventure-search-box.is-focused ~ .enventure-mobile-title, .enventure-search-box.is-focused + .enventure-navigation-container + .enventure-mobile-title { opacity: 0; }
  .enventure-search-box.is-focused { width: calc(100% - 48px); }
  .enventure-search-box .mdl-textfield__expandable-holder { width: 100%; }
  .enventure-top-section { height: 350px; }
  .enventure-create-character img { height: 12px; }
  .enventure-footer .mdl-mega-footer--bottom-section { display: none; } }
/* unfiled */
.docs-toc ul { border-left: solid 3px #00b0ff; padding-left: 20px; line-height: 28px; list-style-type: none; }

.section--pre-footer .sign-up__form-wrapper { text-align: left; }

.formbox__success { color: #00bcd4; text-align: center; }

.formbox__errors, .formbox__success { display: none; padding: 10px 0; }

.formbox__success .email-success { height: 15px; margin-right: 5px; }

.mdl-button, .mdl-checkbox, audio, canvas, img, svg, video { vertical-align: middle; }

.formbox__errors { color: #ff5252; }

.formbox__errors, .formbox__success { display: none; padding: 10px 0; }

.section--pre-footer .sign-up__form .mdl-button { float: right; margin-top: 10px; }

.section--pre-footer .sign-up__form .rework-responsive-input { overflow: hidden; padding-right: 10px; }

.section--pre-footer .sign-up__form .mdl-textfield { width: 100%; }

.section--pre-footer .sign-up__form .mdl-textfield__input, .section--pre-footer .sign-up__form .mdl-textfield__label { color: white; }

.section--pre-footer .sign-up__form .mdl-textfield__input { border-bottom: 1px solid rgba(255, 255, 255, 0.25); }

.section--pre-footer .sign-up__form .mdl-textfield__label:after { background-color: #fff; }

.enventure-card-container .mdl-card__media { background-repeat: no-repeat; background-position: center; background-size: cover; height: 100px; border: 2px solid rgba(0, 0, 0, 0.54); margin: 16px; }
.enventure-card-container .mdl-card__media.dialog { background-image: -webkit-linear-gradient(bottom, rgba(0, 145, 234, 0.4), rgba(0, 145, 234, 0.4), rgba(0, 145, 234, 0.6)), url("../images/billy-sm.jpg"); background-image: linear-gradient(0deg, rgba(0, 145, 234, 0.4), rgba(0, 145, 234, 0.4), rgba(0, 145, 234, 0.6)), url("../images/billy-sm.jpg"); background-image: linear-gradient(0deg, rgba(0, 145, 234, 0.4), rgba(0, 145, 234, 0.4), rgba(0, 145, 234, 0.6)), url("../images/billy-sm.jpg"); }
.enventure-card-container .mdl-card__media.byob { background-image: -webkit-linear-gradient(bottom, rgba(63, 81, 181, 0.4), rgba(63, 81, 181, 0.4), rgba(63, 81, 181, 0.6)), url("../images/byob-sm.jpg"); background-image: linear-gradient(0deg, rgba(63, 81, 181, 0.4), rgba(63, 81, 181, 0.4), rgba(63, 81, 181, 0.6)), url("../images/byob-sm.jpg"); background-image: linear-gradient(0deg, rgba(63, 81, 181, 0.4), rgba(63, 81, 181, 0.4), rgba(63, 81, 181, 0.6)), url("../images/byob-sm.jpg"); }
.enventure-card-container .mdl-card__media.bioventures { background-image: -webkit-linear-gradient(bottom, rgba(179, 157, 219, 0.4), rgba(179, 157, 219, 0.4), rgba(179, 157, 219, 0.6)), url("../images/tmc-sm.jpg"); background-image: linear-gradient(0deg, rgba(179, 157, 219, 0.4), rgba(179, 157, 219, 0.4), rgba(179, 157, 219, 0.6)), url("../images/tmc-sm.jpg"); background-image: linear-gradient(0deg, rgba(179, 157, 219, 0.4), rgba(179, 157, 219, 0.4), rgba(179, 157, 219, 0.6)), url("../images/tmc-sm.jpg"); }
.enventure-card-container .mdl-card__media.meetups { background-image: -webkit-linear-gradient(bottom, rgba(239, 108, 0, 0.4), rgba(239, 108, 0, 0.4), rgba(239, 108, 0, 0.6)), url("../images/morning-meetup-sm.jpg"); background-image: linear-gradient(0deg, rgba(239, 108, 0, 0.4), rgba(239, 108, 0, 0.4), rgba(239, 108, 0, 0.6)), url("../images/morning-meetup-sm.jpg"); background-image: linear-gradient(0deg, rgba(239, 108, 0, 0.4), rgba(239, 108, 0, 0.4), rgba(239, 108, 0, 0.6)), url("../images/morning-meetup-sm.jpg"); }
.enventure-card-container .mdl-card__media.foundations { background-image: -webkit-linear-gradient(bottom, rgba(251, 192, 45, 0.4), rgba(251, 192, 45, 0.4), rgba(251, 192, 45, 0.6)), url("../images/possibilities-sm.jpg"); background-image: linear-gradient(0deg, rgba(251, 192, 45, 0.4), rgba(251, 192, 45, 0.4), rgba(251, 192, 45, 0.6)), url("../images/possibilities-sm.jpg"); background-image: linear-gradient(0deg, rgba(251, 192, 45, 0.4), rgba(251, 192, 45, 0.4), rgba(251, 192, 45, 0.6)), url("../images/possibilities-sm.jpg"); }
.enventure-card-container .mdl-card__media.mgmt { background-image: -webkit-linear-gradient(bottom, rgba(173, 20, 87, 0.4), rgba(173, 20, 87, 0.4), rgba(173, 20, 87, 0.6)), url("../images/jack-sm.jpg"); background-image: linear-gradient(0deg, rgba(173, 20, 87, 0.4), rgba(173, 20, 87, 0.4), rgba(173, 20, 87, 0.6)), url("../images/jack-sm.jpg"); background-image: linear-gradient(0deg, rgba(173, 20, 87, 0.4), rgba(173, 20, 87, 0.4), rgba(173, 20, 87, 0.6)), url("../images/jack-sm.jpg"); }
.enventure-card-container .mdl-card__media.blank { background-image: url(../images/byob-trans-24.png); }

.demo-card-event.mdl-card { background: rgba(2, 119, 189, 0.9); width: 100%; }

.demo-card-event > .mdl-card__actions { border-color: rgba(255, 255, 255, 0.2); }

.demo-card-event > .mdl-card__title { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.demo-card-event > .mdl-card__title > h4 { margin-top: 0; }

.demo-card-event > .mdl-card__supporting-text { color: white; }

.demo-card-event > .mdl-card__actions { display: -webkit-box; display: -ms-flexbox; display: flex; box-sizing: border-box; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.demo-card-event > .mdl-card__actions > .material-icons { padding-right: 10px; }

.demo-card-event > .mdl-card__title, .demo-card-event > .mdl-card__actions, .demo-card-event > .mdl-card__actions > .mdl-button { color: #fff; }

.card-cm.mdl-card { width: 100%; height: 100%; }

.card-cm > .mdl-card__title { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.card-cm > .mdl-card__title > h4 { margin-top: 0; }

.card-cm > .mdl-card__supporting-text { color: rgba(0, 0, 0, 0.54); }

.card-cm > .mdl-card__actions { display: -webkit-box; display: -ms-flexbox; display: flex; box-sizing: border-box; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.card-cm > .mdl-card__actions > .material-icons { padding-right: 10px; }

.card-cm > .mdl-card__title, .card-cm > .mdl-card__actions { color: rgba(0, 0, 0, 0.87); }

.right { float: right !important; }

.logo-plus-button { height: 18px; background-color: #fff; padding-right: 2px; }

.logo-plus-button, .logo-plus-button > div { display: inline-block; }

.logo-plus-button, .logo-plus-button > div { display: inline-block; }

.logo-plus-button-plus-icon { font-family: Arial; background-color: #4285f4; background-image: url("//calendar.google.com/googlecalendar/images/logo-plus.png"); background-position: center center; width: 18px; height: 18px; }

.logo-plus-button-lockup { padding-left: 46px; background-image: url("//www.gstatic.com/images/branding/googlelogo/1x/googlelogo_color_46x16dp.png"); background-size: 46px 16px; background-repeat: no-repeat; background-position-y: 4px; position: relative; top: -4px; margin-left: 2px; margin-right: 1px; }

.logo-plus-button-lockup-text { font-family: Arial,Helvetica,sans-serif; font-size: 13px; opacity: .54; }

.subscribe-image { padding-top: 10px; }

.mdl-layout__drawer { width: 90%; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
@media screen and (min-width: 480px) { .mdl-layout__drawer { width: 75%; } }

.enventure-drawer--calendar { color: #424242; text-decoration: none; margin: 0; font-size: 14px; font-weight: 400; line-height: 24px; letter-spacing: 0; }

.enventure-drawer--calendar { display: block; -ms-flex-negative: 0; flex-shrink: 0; padding: 16px 40px; margin: 0; color: #757575; }

@media screen and (max-width: 839px) { .enventure-drawer--calendar { padding: 16px; } }
.enventure-drawer--calendar { font-size: 14px; color: #757575; }

.promo { padding-bottom: 40px; }
.promo i { color: #0091ea; font-size: 7rem; display: block; }

.demo-card-event .mdl-card__title { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.demo-card-event .mdl-card__title p { margin: 0; }

.env-course .mdl-layout__header-row { padding-left: 40px; }
@media screen and (max-width: 839px) { .env-course .mdl-layout__header-row { padding-left: 16px; } }

.env-course .mdl-layout__tab-bar-button { display: none; }

.env-course .mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button { display: none; }

.env-course .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar, .env-course .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container { overflow: visible; }

.env-course .mdl-layout__tab-bar-container { height: 64px; }

.env-course .mdl-layout__tab-bar { padding: 0; padding-left: 16px; box-sizing: border-box; height: 100%; width: 100%; }

.env-course .mdl-layout__tab-bar .mdl-layout__tab { height: 64px; line-height: 64px; }

.env-course .mdl-layout__tab-bar .mdl-layout__tab.is-active::after { background-color: white; height: 4px; }

.env-course main > .mdl-layout__tab-panel { padding-top: 48px; }

.env-course .mdl-card { height: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.env-course .mdl-card > * { height: auto; }

.env-course .mdl-card .mdl-card__title { margin: 40px; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; padding: 0; width: calc(100% - 80px); }

.env-course .mdl-card .mdl-card__supporting-text { margin: 40px; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; padding: 0; width: calc(100% - 80px); }

.env-course.env-course .mdl-card__supporting-text h4 { margin-top: 0; margin-bottom: 20px; }

.env-course .mdl-card__actions { margin: 0; padding: 4px 40px; }

.env-course .mdl-card__supporting-text + .mdl-card__actions { border-top: 1px solid rgba(0, 0, 0, 0.12); }

.env-course #add { position: absolute; right: 40px; top: 36px; z-index: 999; }

.env-course .mdl-layout__content section:not(:last-of-type) { position: relative; margin-bottom: 48px; }

.env-course section.section--center { max-width: 860px; }

.env-course #features section.section--center { max-width: 620px; }

.env-course section > header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.env-course section > .section__play-btn { min-height: 200px; }

.env-course section > header > .material-icons { font-size: 3rem; }

.env-course section > button { position: absolute; z-index: 99; top: 8px; right: 8px; }

.env-course section .section__circle { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-flex: 0; -ms-flex-positive: 0; flex-grow: 0; -ms-flex-negative: 1; flex-shrink: 1; }

.env-course section .section__text { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -ms-flex-negative: 0; flex-shrink: 0; padding-top: 8px; }

.env-course section .section__text h5 { font-size: inherit; margin: 0; margin-bottom: 0.5em; }

.env-course section .section__text a { text-decoration: none; }

.photo-bryan { background: url("../images/bryan.jpg") no-repeat; background-size: cover; }

.photo-gray { background: url("../images/gray.jpg") no-repeat; background-size: cover; }

.photo-will { background: url("../images/will.jpg") no-repeat; background-size: cover; }

.photo-amy { background: url("../images/amy.jpg") no-repeat; background-size: cover; }

.photo-trip { background: url("../images/trip.jpg") no-repeat; background-size: cover; }

.photo-sarah { background: url("../images/sarah.jpg") no-repeat; background-size: cover; }

.photo-joanna { background: url("../images/joanna.jpg") no-repeat; background-size: cover; }

.env-course section .section__circle-container > .section__circle-container__circle { width: 64px; height: 64px; border-radius: 32px; margin: 8px 0; }

.env-course section.section--footer .section__circle--big { width: 100px; height: 100px; border-radius: 50px; margin: 8px 32px; }

.env-course .is-small-screen section.section--footer .section__circle--big { width: 50px; height: 50px; border-radius: 25px; margin: 8px 16px; }

.env-course section.section--footer { padding: 64px 0; margin: 0 -8px -8px -8px; }

.env-course section.section--center .section__text:not(:last-child) { border-bottom: 1px solid rgba(0, 0, 0, 0.13); }

.env-course .mdl-card .mdl-card__supporting-text > h3:first-child { margin-bottom: 24px; }

.env-course #features section { margin-bottom: 72px; }

.env-course #features h4, #features h5 { margin-bottom: 16px; }

.env-course .toc { border-left: 4px solid #00b0ff; margin: 24px; padding: 0; padding-left: 8px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.env-course .toc h4 { font-size: 0.9rem; margin-top: 0; }

.env-course .toc a { text-decoration: none; font-size: 16px; line-height: 28px; display: block; }

.env-course .mdl-menu__container { z-index: 99; }

.foundations .mdl-color--primary { background-color: #FFEB3B !important; }
.foundations .mdl-color--primary-dark { background-color: #FBC02D !important; }
.foundations .mdl-layout__header { color: #616161 !important; }
.foundations .mdl-layout.is-upgraded .mdl-layout__tab.is-active { color: rgba(0, 0, 0, 0.5) !important; }

.env-layout__title, .env-layout--title { font-size: 25px; color: rgba(0, 0, 0, 0.4); }
.env-layout__title enventure, .env-layout--title enventure { font-size: 32px; }

.enventure-drawer .env-layout__title enventure, .enventure-drawer .env-layout--title enventure { color: white; }

.env-course .mdl-grid.mdl-grid--no-spacing { max-width: 844px; }

.mdl-card__supporting-text .material-icons { line-height: inherit; font-size: inherit; }

.home .mdl-chip { background: #01579b; color: white; }

.env-section--test { padding-bottom: 75px; background-color: #0091ea; color: white; }
.env-section--test h3 { font-weight: 200; margin-bottom: 48px; }
.env-section--test .mdl-list__item-icon, .env-section--test .mdl-list__item-icon.material-icons { font-weight: 300; color: white; }
.env-section--test .mdl-list__item { color: white; font-size: 2em; }
.env-section--test .mdl-list__item-icon, .env-section--test .mdl-list__item-icon.material-icons { height: 48px; width: 48px; font-size: 48px; }
.env-section--test .mdl-badge[data-badge]:after { top: -7px; width: 26px; height: 26px; }
.env-section--test .mdl-badge.mdl-badge--overlap:after { right: -7px; }

.env-section--test2 { background-color: #0091ea; color: white; background-repeat: no-repeat; background-position: center; background-size: cover; background-image: -webkit-linear-gradient(bottom, rgba(55, 71, 79, 0.1), rgba(55, 71, 79, 0.2)), url("../images/byob-sm.jpg"); background-image: linear-gradient(0deg, rgba(55, 71, 79, 0.1), rgba(55, 71, 79, 0.2)), url("../images/byob-sm.jpg"); background-image: linear-gradient(0deg, rgba(55, 71, 79, 0.1), rgba(55, 71, 79, 0.2)), url("../images/byob-sm.jpg"); }
@media (max-width: 839px) { .env-section--test2 { background: #0091ea; } }
.env-section--test2__cards { margin-bottom: -40px; }
.env-section--test2__cards .mdl-card { overflow: visible; }
.env-section--test2__cards .featured-quote { background-color: rgba(1, 87, 155, 0.7); min-height: 50px; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.env-section--test2__cards .featured-quote:first-child { margin-top: -100px; }
@media (max-width: 839px) { .env-section--test2__cards .featured-quote { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }
.env-section--test2__cards .featured-quote .image { min-width: initial; width: 30%; }
@media (max-width: 839px) { .env-section--test2__cards .featured-quote .image { height: initial; width: 50%; } }
.env-section--test2__cards .featured-quote .image img { border-radius: 50%; width: 100%; }
.env-section--test2__cards .featured-quote .attributor { padding: 25px 0; width: 35%; }
@media (max-width: 839px) { .env-section--test2__cards .featured-quote .attributor { padding: 0 25px; width: calc(100% - 50px); } }
.env-section--test2__cards .featured-quote .attributor .name { margin-top: 0; }
.env-section--test2__cards .featured-quote .attributor .title { margin: 0; font-size: 16px; }
.env-section--test2__cards .featured-quote .content { height: initial; padding: 25px; }
.env-section--test2__cards .featured-quote .content blockquote { color: white; font-size: 18px; }
@media screen and (max-width: 479px) { .env-section--test2__cards .featured-quote .content blockquote { margin: 18px; } }
.env-section--test2__cards .featured-quote .content cite { color: rgba(255, 255, 255, 0.87); }
.env-section--test2__cards .featured-quote .content cite a { color: white; text-decoration: underline; }
.env-section--test2__cards .featured-quote--small { background-color: rgba(1, 87, 155, 0.7); color: white; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.env-section--test2__cards .featured-quote--small .image { height: initial; width: 50%; }
.env-section--test2__cards .featured-quote--small .attributor { padding: 0 25px; width: calc(100% - 50px); }
.env-section--test2__cards .featured-quote--small .content blockquote { margin: 8px; }
.env-section--test2__cards .env-card--test .mdl-card__media { background-repeat: no-repeat; background-position: center; background-size: 75%; height: 150px; background-color: #f5f5f5; }
.env-section--test2__cards .env-card--test .mdl-card__media.mm { background-image: url("../images/mm-sm.png"); }
.env-section--test2__cards .env-card--test .mdl-card__media.bala { background-image: url("../images/lindsay.jpg"); }

.env-section--programs { height: 250px; background-color: #0091ea; position: relative; margin-top: 190px; color: white; }
.env-section--programs h3 { font-weight: 700; margin: 12px 0; }
.env-section--programs .mdl-typography--subhead { font-weight: 300; }
.env-section--programs .env-shape { position: relative; top: -45px; width: 80px; height: 80px; border: solid white 5px; }
.env-section--programs .env-shape i { color: white; width: 72px; height: 72px; font-size: 72px; margin: 4px; }
.env-section--programs .env-section__title { position: absolute; top: -190px; width: 100%; }

.env-shape--yellow { background-color: rgb(255,234,0); }
.env-shape--pink { background-color: rgb(255,64,129); }
.env-shape--teal { background-color: rgb(29,233,182); }
.env-shape--circle { border-radius: 50%; }

.env-layout--60 { width: 60%; margin: auto; display: -webkit-box; display: -ms-flexbox; display: flex; box-sizing: border-box; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -ms-flex-pack: distribute; justify-content: space-around; }
@media only screen and (max-width: 839px) { .env-layout--60 { width: 95%; } }

.mdl-tooltip { background: white; color: rgba(0, 0, 0, 0.87); font-size: 12px; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); padding: inherit, 8px; }

.mdl-tooltip .arrow { width: 70px; height: 16px; overflow: hidden; position: absolute; left: 33%; margin-left: -35px; bottom: -16px; }

.mdl-tooltip .arrow:after { content: ""; position: absolute; left: 20px; top: -20px; width: 25px; height: 25px; background-color: white; -webkit-transform: rotate(45deg); transform: rotate(45deg); box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.social-btn__facebook { background-image: url(../images/fb.png); background-size: contain; cursor: pointer; }

.social-btn__twitter { background-image: url(../images/twitter.svg); background-size: contain; cursor: pointer; }

.social-btn__eventbrite { background-image: url(https://www.gstatic.com/images/icons/material/system/2x/post_twitter_black_24dp.png); cursor: pointer; }

.mdl-mega-footer--social-btn, .mdl-mega-footer__social-btn { background-color: transparent; }

/* Controls
---------------------------------------------------------------------- */
.controls { padding: 1rem; font-size: 0.1px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -ms-flex-negative: 0; flex-shrink: 0; box-sizing: border-box; -ms-flex-item-align: stretch; align-self: stretch; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 0; padding: 0 1rem; }

.control-group { display: inline-block; margin-left: .75rem; vertical-align: top; }

.control { position: relative; display: inline-block; padding: .5rem; background: #444; cursor: pointer; font-size: 0.9rem; font-weight: 800; color: white; -webkit-transition: background 150ms; transition: background 150ms; }

.control-text { width: auto; font-size: .9rem; padding: 0 1rem; }

.control:not(.mixitup-control-active):hover { background: #3f3f3f; }

.control-sort:after { content: ''; position: absolute; width: 10px; height: 10px; border-top: 2px solid; border-left: 2px solid; top: calc(50% - 6px); left: calc(50% - 6px); -webkit-transform: translateY(2px) rotate(45deg); transform: translateY(2px) rotate(45deg); }

.control-sort[data-sort*=":desc"]:after { -webkit-transform: translateY(-3px) rotate(-135deg); transform: translateY(-3px) rotate(-135deg); }

.control:first-of-type { border-radius: 3px 0 0 3px; }

.control:last-of-type { border-radius: 0 3px 3px 0; }

.checkbox-group { display: inline-block; padding: .5rem; margin-left: .75rem; vertical-align: top; }

.checkbox { font-size: 0.1px; text-transform: none; }

.checkbox:after { content: ''; display: inline-block; width: 100%; }

.checkbox-input, .checkbox-label { display: inline-block; }

.checkbox-group-label, .checkbox-label { font-size: .9rem; }

.checkbox-group-label { font-weight: bold; display: block; margin-bottom: .5rem; }

.checkbox-label { margin-right: .5rem; }

/* Container
---------------------------------------------------------------------- */
.container { padding: 1rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-line-pack: start; align-content: flex-start; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

/* Target Elements
---------------------------------------------------------------------- */
.mix, .gap { display: inline-block; vertical-align: top; }

.mix { background: #fff; margin-bottom: 1rem; position: relative; color: transparent; }
.mix .mdl-card { width: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; min-height: 360px; }
.mix .mdl-card h3 { margin: 0 a; margin-text-decoration: none; }
.mix .mdl-card .mdl-card__media a, .mix .mdl-card .mdl-card__title a { color: inherit; }
.mix .mdl-card .mdl-card__supporting-text { width: 100%; padding: 16px; min-height: 64px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.mix .mdl-card .mdl-card__supporting-text:not(:last-child) { box-sizing: border-box; min-height: 76px; }
.mix .mdl-card .mdl-card__media { box-sizing: border-box; background-size: cover; padding: 24px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; cursor: pointer; }
.mix .mdl-card.shopping .mdl-card__media { background-image: url(../images/grass.svg); }
.mix .mdl-card .mdl-card__supporting-text ~ .mdl-card__supporting-text { border-top: 1px solid rgba(0, 0, 0, 0.1); }
.mix .mdl-card .meta > * { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.mix .mdl-card .meta { box-sizing: border-box; padding: 16px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; height: auto; }
.mix .mdl-card .meta > *:first-child { margin-right: 16px; }
.mix .mdl-card .minilogo { width: 44px; height: 44px; background-image: url(../images/default.png); background-position: center; background-repeat: no-repeat; background-size: 50%; border-radius: 22px; background-color: #F5F5F5; }

.mix:before { content: ''; display: inline-block; padding-top: 8rem; }

.mix.green { color: #91e6c7; }

.mix.pink { color: #d595aa; }

.mix.blue { color: #5ecdde; }

.mix:after { content: ''; position: absolute; }

.mix h1 { padding: 1rem; display: inline-block; }

.mix p { padding: 1rem; display: inline-block; font-size: calc(1vw + .5rem); color: #333; line-height: 1.4; font-weight: 300; }

.mix.square:after, .mix.circle:after { width: 40%; height: 40%; top: 30%; left: 30%; background: currentColor; border-radius: 3px; }

.mix.circle:after { border-radius: 100%; }

.mix.triangle:after { font-size: 3vw; border: 3em solid transparent; border-bottom: 5em solid currentColor; border-top: 0; left: calc(50% - 3em); top: calc(50% - 3em); }

.mix.medium:after { -webkit-transform: scale(0.75); transform: scale(0.75); }

.mix.small:after { -webkit-transform: scale(0.5); transform: scale(0.5); }

/* Grid Breakpoints
---------------------------------------------------------------------- */
/* 2 Columns */
.mix, .gap { width: calc(100%/2 - (((2 - 1) * 1rem) / 2)); }

.mix-2, .mix-3, .mix-4, .mix-5 { width: 100%; }

/* 3 Columns */
@media screen and (min-width: 541px) { .mix, .gap { width: calc(100%/3 - (((3 - 1) * 1rem) / 3)); }
  .mix-2 { width: calc(200%/3 - (((2 - 1) * 1rem) / 3)); }
  .mix-3, .mix-4, .mix-5 { width: 100%; }
  .mix.triangle:after { font-size: 2vw; } }
/* 4 Columns */
@media screen and (min-width: 961px) { .mix, .gap { width: calc(100%/4 - (((4 - 1) * 1rem) / 4)); }
  .mix-2 { width: calc(200%/4 - (((3 - 1) * 1rem) / 4)); }
  .mix-3 { width: calc(300%/4 - (((2 - 1) * 1rem) / 4)); }
  .mix-4, .mix-5 { width: 100%; }
  .mix.triangle:after { font-size: 1.5vw; } }
/* 5 Columns */
@media screen and (min-width: 1281px) { .mix, .gap { width: calc(100%/5 - (((5 - 1) * 1rem) / 5)); }
  .mix-2 { width: calc(200%/5 - (((4 - 1) * 1rem) / 5)); }
  .mix-3 { width: calc(300%/5 - (((3 - 1) * 1rem) / 5)); }
  .mix-4 { width: calc(400%/5 - (((2 - 1) * 1rem) / 5)); }
  .mix-5 { width: 100%; }
  .mix.triangle:after { font-size: 1.25vw; } }
.Grid { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 100%; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-line-pack: start; align-content: flex-start; opacity: 0; }

.Grid-cell { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

/* With gutters */
.Grid--gutters { margin: -1em 0 0 -1em; }

.Grid--gutters > .Grid-cell { padding: 1em 0 0 1em; }

/* Base classes for all media */
.Grid--fit > .Grid-cell { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.Grid--full > .Grid-cell { -webkit-box-flex: 1; -ms-flex: 1 1 100%; flex: 1 1 100%; }

.Grid--1of2 > .Grid-cell { -webkit-box-flex: 1; -ms-flex: 1 1 50%; flex: 1 1 50%; }

.Grid--1of3 > .Grid-cell { -webkit-box-flex: 1; -ms-flex: 1 1 33.3333%; flex: 1 1 33.3333%; }

.Grid--1of4 > .Grid-cell { -webkit-box-flex: 1; -ms-flex: 1 1 25%; flex: 1 1 25%; }

.Grid-cell--small { -ms-flex-negative: 2 !important; flex-shrink: 2 !important; -ms-flex-preferred-size: 33.3333333% !important; flex-basis: 33.3333333% !important; }

.Grid-cell--large { -webkit-box-flex: 2 !important; -ms-flex-positive: 2 !important; flex-grow: 2 !important; -ms-flex-preferred-size: 50% !important; flex-basis: 50% !important; }

/* Small to medium screens */
@media (min-width: 24em) { .small-Grid--fit > .Grid-cell { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
  .small-Grid--full > .Grid-cell { -webkit-box-flex: 1; -ms-flex: 1 1 100%; flex: 1 1 100%; }
  .small-Grid--1of2 > .Grid-cell { -webkit-box-flex: 1; -ms-flex: 1 1 50%; flex: 1 1 50%; }
  .small-Grid--1of3 > .Grid-cell { -webkit-box-flex: 1; -ms-flex: 1 1 33.3333%; flex: 1 1 33.3333%; }
  .small-Grid--1of4 > .Grid-cell { -webkit-box-flex: 1; -ms-flex: 1 1 25%; flex: 1 1 25%; }
  .Grid-cell--small { -ms-flex-negative: 2 !important; flex-shrink: 2 !important; -ms-flex-preferred-size: 50% !important; flex-basis: 50% !important; }
  .Grid-cell--large { -webkit-box-flex: 2 !important; -ms-flex-positive: 2 !important; flex-grow: 2 !important; -ms-flex-preferred-size: 100% !important; flex-basis: 100% !important; } }
/* Large screens */
@media (min-width: 48em) { .large-Grid--fit > .Grid-cell { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
  .large-Grid--full > .Grid-cell { -webkit-box-flex: 1; -ms-flex: 1 1 100%; flex: 1 1 100%; }
  .large-Grid--1of2 > .Grid-cell { -webkit-box-flex: 1; -ms-flex: 1 1 50%; flex: 1 1 50%; }
  .large-Grid--1of3 > .Grid-cell { -webkit-box-flex: 1; -ms-flex: 1 1 33.3333%; flex: 1 1 33.3333%; }
  .large-Grid--1of4 > .Grid-cell { -webkit-box-flex: 1; -ms-flex: 1 1 25%; flex: 1 1 25%; }
  .Grid-cell--small { -ms-flex-negative: 2 !important; flex-shrink: 2 !important; -ms-flex-preferred-size: 25% !important; flex-basis: 25% !important; }
  .Grid-cell--large { -webkit-box-flex: 2 !important; -ms-flex-positive: 2 !important; flex-grow: 2 !important; -ms-flex-preferred-size: 50% !important; flex-basis: 50% !important; } }
.mdl-layout__header-row--no-pad { padding: 0 16px; }

.temp-section { height: 400px; }
.temp-section.red { background: red; }
.temp-section.blue { background: blue; }

.mdl-layout__content.docs-layout-content { overflow: visible; }

.mdl-button--raised.mdl-button--colored { color: white; }

.mdl-components .mdl-components__nav { -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }

.docs-readme { -webkit-animation: fadein 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards; animation: fadein 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards; }

.Grid { -webkit-animation: fadeinleft 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards; animation: fadeinleft 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards; -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }

.mdl-components__classname { opacity: 0; -webkit-animation: fadein 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards; animation: fadein 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards; -webkit-animation-delay: 0.7s; animation-delay: 0.7s; }

@-webkit-keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }

@keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }
@-webkit-keyframes fadeinup { from { opacity: 0; -webkit-transform: translateY(100vh); transform: translateY(100vh); }
  to { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); } }
@keyframes fadeinup { from { opacity: 0; -webkit-transform: translateY(100vh); transform: translateY(100vh); }
  to { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); } }
@-webkit-keyframes fadeinleft { from { opacity: 0; -webkit-transform: translateX(100vw); transform: translateX(100vw); }
  to { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); } }
@keyframes fadeinleft { from { opacity: 0; -webkit-transform: translateX(100vw); transform: translateX(100vw); }
  to { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); } }
.components .mdl-button .material-icons { color: rgba(0, 0, 0, 0.4); }

.mdl-chip { background-color: rgba(0, 0, 0, 0.06); -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
.mdl-chip:hover { background-color: rgba(0, 0, 0, 0.1); }

.mdl-button--raised { -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
.mdl-button--raised:hover { box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }

section .about-panel--templates { padding: 0 40px; }

.mdl-layout__header-row.hero { -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; padding: 0; }

.about-panel { box-sizing: border-box; width: 100%; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }

.about-panel--text { padding: 100px; background-color: white; }

.is-small-screen .about-panel--text { padding: 40px; }

.about-panel--text p { width: 640px; margin: 0 auto; line-height: 2em; }

.about-panel--text dl { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

.about-panel--text dl dt { text-align: right; vertical-align: top; display: inline-table; margin-right: 24px; line-height: 2em; }

.about-panel--text dl dd { text-align: left; line-height: 2em; vertical-align: top; width: 700px; margin: 0 0 0 24px; }

.docs-layout .is-small-screen .about-panel { padding: 40px; }

.docs-layout .is-small-screen .about-panel--text dl { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.docs-layout .is-small-screen .about-panel--text dd, .docs-layout .is-small-screen .about-panel--text dt { margin: 0 0 24px 0; padding: 0; text-align: left; width: 100%; }

.about-panel--components, .about-panel--styles { height: 500px; }

.about-panel--components, .about-panel--styles, .about-panel--customize, .about-panel--templates { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; padding: 40px; text-transform: none; font-size: 1.4rem; width: auto; background-repeat: no-repeat; background-position: center center; cursor: pointer; }

.about-panel--templates { height: 500px; }

.docs-layout-content .about-panel--start > p { color: #424242; text-transform: uppercase; font-size: 1.6rem; margin-top: 20px; margin-bottom: 0; }

.about-panel--templates { background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); }

.about-panel--components { background-color: #E90974; background-image: url(../assets/ic_domain_48px.svg); background-size: 174px auto; color: white; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }

.about-panel--components:hover { background-image: url(../assets/ic_done_all_white_24px.svg); }

.about-panel--styles { background-color: #8F4099; background-image: url(../assets/ic_assignment_ind_white_24px.svg); background-size: 252px auto; }

.about-panel--styles:hover { background-image: url(../assets/ic_assignment_white_24px.svg); }

section.about-panel--styles:hover:after { content: 'Develop connections and gain first-hand experience'; }

section.about-panel--components:hover:after { content: 'Connect with smart, qualified talent'; }

connect with great talent + see their abilities firsthand Smart, qualified teams with expertise in the field Great value .about-panel--customize { height: 400px; background-color: inherit; background-image: url(customize.svg); background-size: 156px auto; }

.about-panel--customize:hover { background-image: url(customize_mo.svg); }

body.enrich { background: -webkit-linear-gradient(223deg, #ffffff, #0098ea, #b3e5fc, #ffffff); background: linear-gradient(227deg, #ffffff, #0098ea, #b3e5fc, #ffffff); background-size: 800% 800%; -webkit-animation: AnimationName 30s ease infinite; animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName { 0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; } }
@keyframes AnimationName { 0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; } }
.mdl-list__item--three-line { height: initial; }
.mdl-list__item--three-line .mdl-list__item-primary-content { height: initial; }

.mdl-list__item-avatar, .mdl-list__item-avatar.material-icons { background-color: inherit; background-size: cover; background-repeat: no-repeat; background-position: center; }

.beta-badge { position: absolute; right: 18px; top: -16px; padding: 2px 3px; border-radius: 2px; background: #fe6363; color: #fff; font-size: 10px; font-weight: 500; }

dd .mdl-card { width: inherit; }

.mdl-data-table { margin: auto; }

/* -------------------------------- 

Primary style

-------------------------------- */
.cd-words-wrapper { display: inline-block; position: relative; text-align: left; }
.cd-words-wrapper b { display: inline-block; position: absolute; left: 0; top: 0; }
.cd-words-wrapper b.is-visible { position: relative; }
.no-js .cd-words-wrapper b { opacity: 0; }
.no-js .cd-words-wrapper b.is-visible { opacity: 1; }

.cd-headline.type .cd-words-wrapper::after { /* vertical bar */ content: ''; position: absolute; right: 0; top: 50%; bottom: auto; -webkit-transform: translateY(-50%); transform: translateY(-50%); height: 90%; width: 2px; background-color: rgba(0, 0, 0, 0.54); }
.cd-headline.type .cd-words-wrapper.waiting::after { -webkit-animation: cd-pulse 1s infinite; animation: cd-pulse 1s infinite; }
.cd-headline.type .cd-words-wrapper.selected { background-color: #b3d4fc; }
.cd-headline.type .cd-words-wrapper.selected::after { visibility: hidden; }
.cd-headline.type b { visibility: hidden; }
.cd-headline.type b.is-visible { visibility: visible; }
.cd-headline.type i { position: absolute; visibility: hidden; font-style: normal; }
.cd-headline.type i.in { position: relative; visibility: visible; }

@-webkit-keyframes cd-pulse { 0% { -webkit-transform: translateY(-50%) scale(1); transform: translateY(-50%) scale(1); opacity: 1; }
  40% { -webkit-transform: translateY(-50%) scale(0.9); transform: translateY(-50%) scale(0.9); opacity: 0; }
  100% { -webkit-transform: translateY(-50%) scale(0); transform: translateY(-50%) scale(0); opacity: 0; } }

@keyframes cd-pulse { 0% { -webkit-transform: translateY(-50%) scale(1); transform: translateY(-50%) scale(1); opacity: 1; }
  40% { -webkit-transform: translateY(-50%) scale(0.9); transform: translateY(-50%) scale(0.9); opacity: 0; }
  100% { -webkit-transform: translateY(-50%) scale(0); transform: translateY(-50%) scale(0); opacity: 0; } }
/* -------------------------------- 

xloading-bar 

-------------------------------- */
/* -------------------------------- 

xslide 

-------------------------------- */
/* -------------------------------- 

xclip 

-------------------------------- */
.cd-headline.clip span { display: inline-block; padding: .2em 0; }
.cd-headline.clip .cd-words-wrapper { overflow: hidden; vertical-align: top; }
.cd-headline.clip .cd-words-wrapper::after { /* line */ content: ''; position: absolute; top: 0; right: 0; width: 2px; height: 100%; background-color: white; }
.cd-headline.clip b { opacity: 0; }
.cd-headline.clip b.is-visible { opacity: 1; }

/* -------------------------------- 

xzoom 

-------------------------------- */

/*# sourceMappingURL=style.css.map */