$light-blue: (
  "lighten-5":  #e1f5fe,
  "lighten-4":  #b3e5fc,
  "lighten-3":  #81d4fa,
  "lighten-2":  #4fc3f7,
  "lighten-1":  #29b6f6,
  "base":       #03a9f4,
  "darken-1":   #039be5,
  "darken-2":   #0288d1,
  "darken-3":   #0277bd,
  "darken-4":   #01579b,
  "accent-1":    #80d8ff,
  "accent-2":    #40c4ff,
  "accent-3":    #00b0ff,
  "accent-4":    #0091ea
);
$blue-grey: (
  "lighten-5":  #eceff1,
  "lighten-4":  #cfd8dc,
  "lighten-3":  #b0bec5,
  "lighten-2":  #90a4ae,
  "lighten-1":  #78909c,
  "base":       #607d8b,
  "darken-1":   #546e7a,
  "darken-2":   #455a64,
  "darken-3":   #37474f,
  "darken-4":   #263238
);

$grey: (
  "lighten-5":  #fafafa,
  "lighten-4":  #f5f5f5,
  "lighten-3":  #eeeeee,
  "lighten-2":  #e0e0e0,
  "lighten-1":  #bdbdbd,
  "base":       #9e9e9e,
  "darken-1":   #757575,
  "darken-2":   #616161,
  "darken-3":   #424242,
  "darken-4":   #212121
);

$shades: (
  "black":        #000000,
  "white":        #FFFFFF,
  "transparent":  transparent
);

$colors: (
  "light-blue": $light-blue,
  "blue-grey": $blue-grey,
  "grey": $grey,
  "shades": $shades
);


// Color Classes

@each $color_name, $color in $colors {
  @each $color_type, $color_value in $color {
    @if $color_type == "base" {
      .#{$color_name} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text {
        color: $color_value !important;
      }
    }
    @else {
      .#{$color_name}.#{$color_type} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text.text-#{$color_type} {
        color: $color_value !important;
      }
    }
  }
}

// Shade classes
@each $color, $color_value in $shades {
  .#{$color} {
    background-color: $color_value !important;
  }
  .#{$color}-text {
    color: $color_value !important;
  }
}


// usage: color("name_of_color", "type_of_color")
// to avoid to repeating map-get($colors, ...)

@function color($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  @warn "Unknown `#{name}` in $colors.";
  @return null;
}

$env-color:color("light-blue", "accent-4");;
$env-color--dark:color("light-blue", "darken-3");
$env-color--light: color("light-blue", "accent-3");
$env-color--accent:#FF4081;
$env-color--b1:rgba(black,.87);
$env-color--b2:rgba(black,.54);
$env-color--b3:rgba(black,.40);
$env-color--b4:rgba(black,.12);
$env-color--w1:white;
$env-color--w2:rgba(white,.87);
$env-color--w3:rgba(white,.54);
$env-color--w4:rgba(white,.26);
$env-color--bg-color:#ebebeb;
$env-color--btn-color:color("light-blue","base");

//_typography
$nl-weight: 300;
$base-font-color:$env-color--b2;

$sliding-menu-border-color: $env-color--b1;
$sliding-menu-background: lighten($sliding-menu-border-color, 5);
$sliding-menu-color: #fff;
$sliding-menu-border: 1px solid $sliding-menu-border-color;
$sliding-menu-background-hover: $env-color--accent;
$sliding-menu-color-hover: #fff;

$footer-height:75px;

$radish:#ad1457; //pink darken-3
$wisteria:#b39ddb; //deep-purple lighten-3
$teal:#009688; //teal
$sage:#32b679; //
$indigo:#3f51b5; //indigo
$banana:#fbc02d; //yellow darken-2
$pumpkin:#ef6c00; //orange darken-3
$grid-item-colors: $radish, $wisteria, $teal, $sage, $indigo, $banana, $pumpkin, $radish, $wisteria, $teal, $sage, $indigo, $banana, $pumpkin;

$sans-serif: 'Lato', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: 'Lora', 'Georgia', Times, "Times New Roman", serif;

$icon-size: 56px;

//_cards
$default-color: $env-color;
$card-color: #FFF;
$font-color: $env-color--b1;
$footer-font-color: $env-color--b1;
$card-link-color: $env-color;
$card-link-hover: $env-color--accent;
$card-height:150px;

