// TODO
// env-section--test negative margins
// sass source mdl
// optimize css
// optimize images
// fix calendar script for all day events
// BEM-ize
//replace fonts with body {font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;}

/* overrides */
h1, h2, h3, h4, h5, h6, p, .mdl-typography--display-1, .mdl-typography--display-1-color-contrast, .mdl-typography--display-2, .mdl-typography--display-2-color-contrast, .mdl-typography--display-3, .mdl-typography--display-3-color-contrast, .mdl-typography--display-4, .mdl-typography--display-4-color-contrast, .mdl-typography--headline, .mdl-typography--headline-color-contrast, .mdl-typography--subhead, .mdl-typography--subhead-color-contrast, .mdl-typography--title, .mdl-typography--title-color-contrast, .mdl-typography--body-1, .mdl-typography--body-2, .mdl-typography--body-2-color-contrast-color-contrast, .mdl-typography--body-2-force-preferred-font, .mdl-typography--caption, .mdl-typography--caption-color-contrast, .mdl-typography--menu, .mdl-button, .mdl-layout__title, .mdl-chip, .mdl-layout__title, .mdl-layout-title, blockquote, .mdl-badge[data-badge]:after, .mdl-list__item {
  font-family: 'Lato', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h1,h2,h3,h4,h5,h6, .mdl-typography--title, .mdl-typography--title-color-contrast, .mdl-typography--headline, .mdl-typography--headline-color-contrast, .mdl-badge[data-badge]:after {
  font-weight: 700;
}

.mdl-list__item{
  font-weight: 300;
}

.mdl-typography--display-1-color-contrast{
  color:$env-color--b2;
  opacity:1;
}

.env-typography--mission{
  color: $env-color--b1;
  opacity: 1;
  font-weight: 300;
}

body {
  margin: 0;
  font-family: 'Lato', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-weight: 300;
}

.enventure-drawer lato {
  color: $env-color--w1;
}

lato, .lato {
  font-family: 'Lato', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

lato-sm, .lato-sm{
  @extend .lato;
  font-size: 80%;
}

a{
  color: $env-color;
  text-decoration: none;
}

lora, .lora {
  font-family: Lora, Georgia, Times, "Times New Roman", serif;
  letter-spacing: normal;
}

.enventure, .logo-font, enventure{
  @extend .lora;
  color: $env-color;
  font-weight: 400;
  text-transform: none;
}

.env-color--light{
  color: $env-color--light;
}

.env-typography--icon-size{
  font-size: 16px;
  .material-icons {
    position: relative;
    top: 6px;
  }
}

.fixed-width {
  max-width: 1200px;
  margin:auto;
}

cite{
  display: block;
  margin: 1em 40px;
  position: relative;
  font-size: 16px;
  font-weight: 300;
  &::before{
    position: absolute;
    left: -.5em;
    content: '-';
  }
}

.mdl-grid{
  justify-content: space-around;
}

// .mdl-card__actions {
//     display: flex;
//     box-sizing: border-box;
//     align-items: center;
// }

// .mdl-card__actions > .material-icons {
//     padding-right: 10px;
// }

// .mdl-card__title {
//   flex-direction: column;
//   justify-content: flex-end;
// }
// .mdl-card__title-text, .mdl-card__subtitle-text {
//   align-self: flex-start;
// }

// | MDL class | Effect | Remarks |
// |-----------|--------|---------|
// | `mdl-typography--body-1` | Regular 14px (Device), Regular 13px (Desktop) | Optional |
// | `mdl-typography--body-1-force-preferred-font` | Regular 14px (Device), Regular 13px (Desktop) | Optional |
// | `mdl-typography--body-2` | Medium 14px (Device), Medium 13px (Desktop) | Optional |
// | `mdl-typography--body-2` | mdl-typography-body-2 | Optional |
// | `mdl-typography--body-2-color-contrast` | Body with color contrast | Optional |
// | `mdl-typography--body-2-force-preferred-font` | Medium 14px (Device), Medium 13px (Desktop) | Optional |
// | `mdl-typography--button` | Medium (All Caps) 14px | Optional |
// | `mdl-typography--caption` | Regular 12px | Optional |
// | `mdl-typography--caption-color-contrast` | Caption with color contrast | Optional |
// | `mdl-typography--display-1` | Regular 34px | Optional |
// | `mdl-typography--display-1-color-contrast` | Display with color contrast | Optional |
// | `mdl-typography--display-2` | Regular 45px | Optional |
// | `mdl-typography--display-3` | Regular 56px | Optional |
// | `mdl-typography--display-4` | Light 112px | Optional |
// | `mdl-typography--headline` | Regular 24px | Optional |
// | `mdl-typography--menu` | Medium 14px (Device), Medium 13px (Desktop) | Optional |
// | `mdl-typography--subhead` | Regular 16px (Device), Regular 15px (Desktop) | Optional |
// | `mdl-typography--subhead-color-contrast` | Subhead with color contrast | Optional |
// | `mdl-typography--table-striped` | Striped table| Optional |
// | `mdl-typography--text-capitalize` | Capitalized text | Optional |
// | `mdl-typography--text-center` | Center aligned text | Optional |
// | `mdl-typography--text-justify` | Justified text | Optional |
// | `mdl-typography--text-left` | Left aligned text | Optional |
// | `mdl-typography--text-lowercase` | Lowercased text | Optional |
// | `mdl-typography--text-nowrap` | No wrap text | Optional |
// | `mdl-typography--text-right` | Right aligned text | Optional |
// | `mdl-typography--text-uppercase` | Uppercased text | Optional |
// | `mdl-typography--title` | Medium 20px | Optional |
// | `mdl-typography--title-color-contrast` | Title with color contrast | Optional |

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

::selection {
  color: #fff;
}

/*.enventure-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
}*/

.enventure-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}


.mdl-textfield--expandable {
  width: auto;
}

.enventure-fab {
  position: absolute;
  right: 5%;
  bottom: -26px;
  z-index: 3;
}

.enventure-mobile-title {
  display: none !important;
}

.enventure-logo-image {
  height: 28px;
  width: 140px;
}

.enventure-header {
  overflow: visible;
  background-color: white;
  align-items:center;
}

  .enventure-header .material-icons {
    color: #767777 !important;
  }

  .enventure-header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
  }

  .enventure-header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
  }

  .enventure-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    order: 1;
    // width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .enventure-navigation {
    // ... and now make sure the content is actually LTR
    direction: ltr;
    justify-content: flex-end;
    // width: 800px;
  }

  .enventure-search-box.is-focused + .enventure-navigation-container {
    opacity: 0;
    width: 100px;
  }


  .enventure-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
  }

    .enventure-navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid $env-color;
      cursor:pointer;
    }

  .enventure-search-box {
            order: 2;
    margin-left: 16px;
    margin-right: 16px;
  }

  .enventure-more-button {
            order: 3;
  }


.enventure-drawer {
  border-right: none;
}

  .enventure-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }

  .enventure-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
  }

  .enventure-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: $env-color;
  }

  .enventure-drawer .mdl-layout-title {
    position: relative;
    background: $env-color;
    height: 160px;
    color: white;
  }
    .enventure-drawer .mdl-layout-title span{
      position: absolute;
      bottom: 16px;
    }
    .enventure-drawer .enventure-logo-image {
      position: absolute;
      bottom: 16px;
    }

.enventure-top-section .mdl-grid {
  padding: 0;
}

.enventure-top-section {
  position: relative;
  height: 800px;
  //width: auto;
  background-color: #f3f3f3;
  background: url('../images/houstonWC.svg') center center no-repeat;
  background-size: cover;

  .mdl-typography--display-4 {
    @extend .enventure-sub-slogan;
  }

  // $gradient-angle: 0deg;
  // $hero-background-top: rgba(white, 0.9); 
  // $hero-background-bottom: rgba($env-color, .25);
  // $hero-image: '../images/houston.svg';
  // @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-bottom, $hero-background-top), url($hero-image));
}

.section {
    box-sizing: border-box;
    display: flex;
}

.section__block {
  @extend .section;
  flex-direction: column;
  padding: 20px;
  @media only screen and (max-width: 839px){
    padding: 0 8px;
  }
}

.enventure-top-section .mdl-grid .section__block {
  margin: 0;
  &.section__block--left {
    padding: 16px;
    height: 350px;
    @media only screen and (min-width: 840px){
      width: 60%;
      height: 800px;
      padding: 50px 32px;
    }
    @media only screen and (min-width: 1024px){
      padding:50px;
    }
  }
  &.section__block--right {
    background: rgba(color("light-blue","lighten-5"),.8);
    background: linear-gradient(rgba(white,.75), rgba(white,.2), rgba(white,.2));
    padding: 50px 16px;
    width: 40%;
    margin:0;
    height: 800px;
    overflow-y: auto;
    &::-webkit-scrollbar { 
    /* This is the magic bit */
    display: none;
    }
    @media (min-width: 1024px) {
      padding:50px;
    }
  }
}

.enventure-slogan {
  // position:absolute;
  //font-size: 60px;
  font-weight: 300;
  color:white;
  @media (max-width: 839px) {
    font-size: 26px;
    text-align: center;
    // margin: 0 16px;
    // padding-top: 24px;
    // padding-bottom: 12px;
    // position:absolute;
    // bottom:0;
  }
}

.enventure-sub-slogan{
  @extend .lora;
  color:white;
  font-weight: 700;
  text-shadow: 0 2px 2px rgba(0,0,0,.14),0 3px 1px rgba(0,0,0,.2),0 1px 5px rgba(0,0,0,.12);
  // text-shadow: 0 16px 24px rgba(0,0,0,.14),0 6px 30px rgba(0,0,0,.12),0 8px 10px rgba(0,0,0,.2);
  font-size:90px;
  @media (max-width: 839px) {
    font-size: 48px;
    text-align: center;
    // margin: 0 16px;
    // padding-top: 8px;
  }
}

@media only screen and (max-width: 839px){
  .hide-small {
      display: none!important;
  }
}

@media only screen and (min-width: 839px){
  .hide-large {
      display: none!important;
  }
}

.enventure-create-character {
  // font-size: 21px;
  padding-top: 400px;
}

  .enventure-create-character a {
    text-decoration: none;
    color: #767777;
    font-weight: 300;
  }

.env-bg--fade{
  $hero-background-top: white; 
  $hero-background-bottom: $env-color--bg;
  $gradient-angle: 180deg;
  background-image:linear-gradient($gradient-angle, $hero-background-top, $hero-background-top, $hero-background-top, $hero-background-top, $hero-background-bottom);
}

.env-section--mission {
  position: relative;
  padding: 60px 0;
}

.enventure-screens {
  text-align: right;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

.enventure-screen {
  text-align: center;
}

.enventure-screen .enventure-link {
  margin-top: 16px;
  display: block;
  z-index: 2;
}

.enventure-image-link {
  text-decoration: none;
}

.enventure-wear {
  display: inline-block;
  width: 160px;
  margin-right: 32px;
}

  .enventure-wear .enventure-screen-image {
    width: 40%;
    z-index: 1;
  }


.enventure-phone {
  display: inline-block;
  width: 64px;
  margin-right: 48px;
}

  .enventure-phone .enventure-screen-image {
    width: 100%;
    z-index: 1;
  }


.enventure-tablet {
  display: inline-block;
  width: 110px;
  margin-right: 64px;
}

  .enventure-tablet .enventure-screen-image {
    width: 100%;
    z-index: 1;
  }

  .enventure-tablet .enventure-link {
    display: block;
    z-index: 2;
  }


.enventure-tv {
  display: inline-block;
  width: 300px;
  margin-right: 80px;
}

  .enventure-tv .enventure-screen-image {
    width: 100%;
    z-index: 1;
  }


.enventure-auto {
  display: inline-block;
  width: 300px;
  overflow: hidden;
}

  .enventure-auto .enventure-screen-image {
    display: block;
    height: 300px;
    z-index: 1;
  }

.enventure-wear-section {
  position: relative;
  background: url('../images/sky.jpg') center center no-repeat;
  background-size: cover;
  height: 600px;
  @media screen and (max-width: 479px){
    height:600px;
  }
}

.enventure-wear-band {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  // $band-color:color("blue-grey","darken-3");
  // $hero-background-topest: rgba($band-color, 0);
  // $hero-background-top: rgba($band-color, .2); 
  // $hero-background-bottom: rgba($band-color, .7);
  // $gradient-angle: 0deg;
  // background-image:linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top, $hero-background-top,$hero-background-topest);
}

.enventure-wear-band-text {
  // max-width: 800px;
  margin-left: 77%;
  padding: 24px;
  text-align: left;
  color: white;
  background:rgba(0,0,0,.4);

  // @media (max-width: 1299px) {
  //   margin-left: 25%;
  // }

  @media (max-width: 1299px) {
    margin-left:0%;
    padding: 16px;
  }
}

  .enventure-wear-band-text p {
    padding-top: 8px;
  }

.enventure-link {
  text-decoration: none;
  color: $env-color !important;
}

  .enventure-link:hover {
    color: #01579B !important;
  }

  .enventure-link .material-icons {
    position: relative;
    top: -1px;
    vertical-align: middle;
  }

.enventure-alt-link {
  text-decoration: none;
  color: $env-color--light !important;
  font-size: 16px;
}

  .enventure-alt-link:hover {
    color: $env-color !important;
  }

  .enventure-alt-link .material-icons {
    position: relative;
    top: 6px;
  }

.enventure-customized-section {
  text-align: center;
  background: url('../images/grassWC.svg') center bottom no-repeat;
  background-size: 100%;
  height: 450px;
  background-color:color(light-blue,lighten-5);
}

.enventure-customized-section-text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 16px 0 16px;
}

  .enventure-customized-section-text p {
    padding-top: 16px;

  }

.enventure-customized-section-image {
  background: url('../images/grassWC.svg') center top no-repeat;
  background-size: cover;
  height: 400px;
}

.env-section--programs-cards {
  padding-bottom: 48px;
}

.enventure-card-container {
}

  .enventure-card-container .mdl-card__media {
    overflow: hidden;
    background: transparent;
  }

    .enventure-card-container .mdl-card__media img {
      width: 100%;
    }

  .enventure-card-container .mdl-card__title {
    background: transparent;
    height: auto;
    padding-left:0;
    padding-right:0;
    margin-left: 16px;
    margin-right: 16px;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .enventure-card-container .mdl-card__title-text {
    // color: black;
    // height: auto;
    // @extend lora;
  }

  .enventure-card-container .mdl-card__supporting-text {
    // height: auto;
    // color: black;
    padding-bottom: 56px;
  }

  .enventure-card-container .mdl-card__actions {
    position: absolute;
    bottom: 0;
    margin-left:16px;
    margin-right:16px;
    width:calc(100% - 32px);
    padding-left:0;
    padding-right:0;
  }

  .enventure-card-container .mdl-card__actions a {
    border-top: none;
    font-size: 16px;
  }

.enventure-footer {
  color: white;
  background-color: #fafafa;
  $band-color:color("light-blue","darken-4");
  // $band-color:rgba(black,.9);
  $hero-background-top: $band-color; 
  $hero-background-bottom: color("light-blue","darken-3");
  $gradient-angle: 0deg;
  @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top));
  position: relative;
}

  .enventure-footer a:hover {
    color: $env-color;
  }

  .enventure-footer .mdl-mega-footer--top-section::after {
    border-bottom: none;
  }

  .enventure-footer .mdl-mega-footer--middle-section::after {
    border-bottom: none;
  }

  .enventure-footer .mdl-mega-footer--bottom-section {
    position: relative;
  }

  .enventure-footer .mdl-mega-footer--bottom-section a {
    margin-right: 2em;
  }

  .enventure-footer .mdl-mega-footer--right-section a .material-icons {
    position: relative;
    top: 6px;
  }


.enventure-link-menu:hover {
  cursor: pointer;
}


/**** Mobile layout ****/
@media (max-width: 839px) {
  .enventure-navigation-container {
    display: none;
  }

  .enventure-title {
    display: none !important;
  }

  .enventure-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
     consecutive "+" operators in some cases. Therefore, we need to use both
     here to cover all the bases. */
  .enventure.enventure-search-box.is-focused ~ .enventure-mobile-title,
  .enventure-search-box.is-focused + .enventure-navigation-container + .enventure-mobile-title {
    opacity: 0;
  }

  .enventure-more-button {
    // display: none;
  }

  .enventure-search-box.is-focused {
    width: calc(100% - 48px);
  }

  .enventure-search-box .mdl-textfield__expandable-holder {
    width: 100%;
  }

  .enventure-top-section {
    height: 350px;
  }

  // .enventure-create-character {
  //   padding-top: 200px;
  //   // font-size: 16px;
  // }

  .enventure-create-character img {
    height: 12px;
  }



  .enventure-footer .mdl-mega-footer--bottom-section {
    display: none;
  }
}

/* unfiled */
.docs-toc ul {
    border-left: solid 3px $env-color--light;
    padding-left: 20px;
    line-height: 28px;
    list-style-type: none;
}

.section--pre-footer .sign-up__form-wrapper {
    text-align: left;
}

.formbox__success {
    color: #00bcd4;
    text-align: center;
}
.formbox__errors, .formbox__success { 
    display: none;
    padding: 10px 0;
}

.formbox__success .email-success {
    height: 15px;
    margin-right: 5px;
}

.mdl-button, .mdl-checkbox, audio, canvas, img, svg, video {
    vertical-align: middle;
}

.formbox__errors {
    color: #ff5252;
}
.formbox__errors, .formbox__success {
    display: none;
    padding: 10px 0;
}

.section--pre-footer .sign-up__form .mdl-button {
    float: right;
    margin-top: 10px;
}

.section--pre-footer .sign-up__form .rework-responsive-input {
    overflow: hidden;
    padding-right: 10px;
}

.section--pre-footer .sign-up__form .mdl-textfield {
    width: 100%;
}

.section--pre-footer .sign-up__form .mdl-textfield__input, .section--pre-footer .sign-up__form .mdl-textfield__label {
    color: $env-color--w1;
}

.section--pre-footer .sign-up__form .mdl-textfield__input{
  border-bottom: 1px solid rgba(white,.25);
}

.section--pre-footer .sign-up__form .mdl-textfield__label:after {
    background-color: #fff;
}

// .section--pre-footer .sign-up__form .sign-up__subtitle {
//     color: #859ba6;
//     font-size: 13px;
// }

// .mdl-checkbox__focus-helper {
//     border-radius: 50%;
//     background-color: transparent;
// }
// .mdl-checkbox__box-outline, .mdl-checkbox__focus-helper {
//     top: 3px;
//     display: inline-block;
//     box-sizing: border-box;
//     width: 16px;
//     height: 16px;
//     position: absolute;
//     left: 0;
// }

// .mdl-checkbox__box-outline {
//     border: 2px solid #cfd8dc;
// }
// .mdl-checkbox__box-outline {
//     margin: 0;
//     cursor: pointer;
//     overflow: hidden;
//     border-radius: 2px;
//     z-index: 2;
// }
// .mdl-checkbox__box-outline, .mdl-checkbox__focus-helper {
//     top: 3px;
//     display: inline-block;
//     box-sizing: border-box;
//     width: 16px;
//     height: 16px;
//     position: absolute;
//     left: 0;
// }


// .mdl-checkbox__tick-outline {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     mask: url('../images/check.svg');
//     background: 0 0;
//     transition-duration: .28s;
//     transition-timing-function: cubic-bezier(.4,0,.2,1);
//     transition-property: background;
// }

//make them 780px wide
  .enventure-card-container .mdl-card__media {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    border: 2px solid $env-color--b2;
    margin:16px;
    &.dialog{
      $hero-background-top: rgba($env-color, .6); 
      $hero-background-bottom: rgba($env-color, .4);
      $gradient-angle: 0deg;
      $hero-image: '../images/billy-sm.jpg';
      @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-bottom, $hero-background-top), url($hero-image));
    }
    &.byob{
      $hero-background-top: rgba($indigo, .6); 
      $hero-background-bottom: rgba($indigo, .4);
      $gradient-angle: 0deg;
      $hero-image: '../images/byob-sm.jpg';
      @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-bottom, $hero-background-top), url($hero-image));
    }
    &.bioventures{
      $hero-background-top: rgba($wisteria, .6); 
      $hero-background-bottom: rgba($wisteria, .4);
      $gradient-angle: 0deg;
      $hero-image: '../images/tmc-sm.jpg';
      @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-bottom, $hero-background-top), url($hero-image));
    }
    &.meetups{//pumpkin
      $hero-background-top: rgba($pumpkin, .6); 
      $hero-background-bottom: rgba($pumpkin, .4);
      $gradient-angle: 0deg;
      $hero-image: '../images/morning-meetup-sm.jpg';
      @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-bottom, $hero-background-top), url($hero-image));
    }
    &.foundations{//indigo
      $hero-background-top: rgba($banana, .6); 
      $hero-background-bottom: rgba($banana, .4);
      $gradient-angle: 0deg;
      $hero-image: '../images/possibilities-sm.jpg';
      @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-bottom, $hero-background-top), url($hero-image));
    }
    &.mgmt{//radish
      $hero-background-top: rgba($radish, .6); 
      $hero-background-bottom: rgba($radish, .4);
      $gradient-angle: 0deg;
      $hero-image: '../images/jack-sm.jpg';
      @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-bottom, $hero-background-top), url($hero-image));
    }
    &.blank{
      background-image: url(../images/byob-trans-24.png);
      @extend .blue-grey, .lighten-3;
    }
  }

.demo-card-event.mdl-card {
  background: rgba($env-color--dark,.9);
  width:100%;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
  justify-content: space-between;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}

.demo-card-event > .mdl-card__supporting-text {
  color:$env-color--w1;
}

.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

.card-cm.mdl-card {
  width:100%;
  height:100%
}
.card-cm > .mdl-card__actions {
  // border-color: rgba(255, 255, 255, 0.2);
}
.card-cm > .mdl-card__title {
  align-items: flex-start;
  justify-content: space-between;
}
.card-cm > .mdl-card__title > h4 {
  margin-top: 0;
}

.card-cm > .mdl-card__supporting-text {
  color:$env-color--b2;
  // flex-grow: 10;
}

.card-cm > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.card-cm > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.card-cm > .mdl-card__title,
.card-cm > .mdl-card__actions, {
  color: $env-color--b1;
}

// .chip {
//     display: inline-block;
//     height: 32px;
//     font-size: 13px;
//     font-weight: 500;
//     color: rgba(0, 0, 0, 0.6);
//     line-height: 32px;
//     padding: 0 12px;
//     border-radius: 16px;
//     background-color: #E4E4E4;
// }

.right {
    float: right !important;
}

// .chip img {
//     float: left;
//     margin: 0 8px 0 -12px;
//     height: 32px;
//     width: 32px;
//     border-radius: 50%;
// }

.logo-plus-button {
    height: 18px;
    background-color: #fff;
    padding-right: 2px;
}
.logo-plus-button, .logo-plus-button > div {
    display: inline-block;
}

.logo-plus-button, .logo-plus-button > div {
    display: inline-block;
}
.logo-plus-button-plus-icon {
    font-family: Arial;
    background-color: #4285f4;
    background-image: url("//calendar.google.com/googlecalendar/images/logo-plus.png");
    background-position: center center;
    width: 18px;
    height: 18px;
}
.logo-plus-button-lockup {
    padding-left: 46px;
    background-image: url("//www.gstatic.com/images/branding/googlelogo/1x/googlelogo_color_46x16dp.png");
    background-size: 46px 16px;
    background-repeat: no-repeat;
    background-position-y: 4px;
    position: relative;
    top: -4px;
    margin-left: 2px;
    margin-right: 1px;
}
.logo-plus-button-lockup-text {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    opacity: .54;
}

.subscribe-image{
  padding-top:10px;
}

.mdl-layout__drawer {
  width:90%;
  transform: translateX(-100%);
  @media screen and (min-width: 480px){
    width:75%;
  }
}

.enventure-drawer--calendar {
    color: #424242;
    text-decoration: none;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
}

.enventure-drawer--calendar {
    display: block;
    flex-shrink: 0;
    padding: 16px 40px;
    margin: 0;
    color: #757575;
}

@media screen and (max-width: 839px){
  .enventure-drawer--calendar {
    padding: 16px;
  }
}

.enventure-drawer--calendar {
  font-size: 14px;
  color: #757575;
}

// .mdl-card__actions>p{
//   margin: 0 0 6px;
// }

.promo {
  padding-bottom:40px;
  i {
    color: $env-color;
    font-size: 7rem;
    display: block;
  }
}

.demo-card-event{
  .mdl-card__title{
    flex-direction: column;
    p{margin:0;}
  }
}

.env-course .mdl-layout__header-row {
  padding-left: 40px;
  @media screen and (max-width: 839px){
    padding-left: 16px;
  }
}
.env-course .mdl-layout__tab-bar-button {
  display: none;
}
.env-course .mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button {
  display: none;
}
.env-course .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar,
.env-course .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container {
  overflow: visible;
}
.env-course .mdl-layout__tab-bar-container {
  height: 64px;
}
.env-course .mdl-layout__tab-bar {
  padding: 0;
  padding-left: 16px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.env-course .mdl-layout__tab-bar .mdl-layout__tab {
  height: 64px;
  line-height: 64px;
}
.env-course .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
  background-color: white;
  height: 4px;
}
.env-course main > .mdl-layout__tab-panel {
  padding-top: 48px;
}
.env-course .mdl-card {
  height: auto;
  display: flex;
          flex-direction: column;
}
.env-course .mdl-card > * {
  height: auto;
}

.env-course .mdl-card .mdl-card__title {
  margin: 40px;
  flex-grow: 1;
  padding: 0;
  width: calc(100% - 80px);
}

.env-course .mdl-card .mdl-card__supporting-text {
  margin: 40px;
          flex-grow: 1;
  padding: 0;
  width: calc(100% - 80px);
}
.env-course.env-course .mdl-card__supporting-text h4 {
  margin-top: 0;
  margin-bottom: 20px;
}
.env-course .mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
}
// .env-course .mdl-card__actions a {
//   margin: 0;
//   color:$env-color;
// }
// .env-course .mdl-card__actions a:hover,
// .env-course .mdl-card__actions a:active {
//   background-color: transparent;
// }
.env-course .mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.env-course #add {
  position: absolute;
  right: 40px;
  top: 36px;
  z-index: 999;
}

.env-course .mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px;
}
.env-course section.section--center {
  max-width: 860px;
}
.env-course #features section.section--center {
  max-width: 620px;
}
.env-course section > header{

  display: flex;
          align-items: center;
          justify-content: center;
}
.env-course section > .section__play-btn {
  min-height: 200px;
}
.env-course section > header > .material-icons {
  font-size: 3rem;
}
.env-course section > button {
  position: absolute;
  z-index: 99;
  top: 8px;
  right: 8px;
}
.env-course section .section__circle {

  display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-grow: 0;
          flex-shrink: 1;
}
.env-course section .section__text {
          flex-grow: 1;
          flex-shrink: 0;
  padding-top: 8px;
}
.env-course section .section__text h5 {
  font-size: inherit;
  margin: 0;
  margin-bottom: 0.5em;
}
.env-course section .section__text a {
  text-decoration: none;
}

$avatars: (bryan, "gray", will, amy, trip, sarah, joanna);

@each $speaker in $avatars{
    .photo-#{$speaker}{
      background: url("../images/#{$speaker}.jpg") no-repeat;
      background-size:cover;
    }
  }

.env-course section .section__circle-container > .section__circle-container__circle {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0;  
  
}

.env-course section.section--footer .section__circle--big {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 8px 32px;
}
.env-course .is-small-screen section.section--footer .section__circle--big {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 8px 16px;
}
.env-course section.section--footer {
  padding: 64px 0;
  margin: 0 -8px -8px -8px;
}
.env-course section.section--center .section__text:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.13);
}
.env-course .mdl-card .mdl-card__supporting-text > h3:first-child {
  margin-bottom: 24px;
}
.env-course #features section {
  margin-bottom: 72px;
}
.env-course #features h4, #features h5 {
  margin-bottom: 16px;
}
.env-course .toc {
  border-left: 4px solid $env-color--light;
  margin: 24px;
  padding: 0;
  padding-left: 8px;
  display: flex;
          flex-direction: column;
}
.env-course .toc h4 {
  font-size: 0.9rem;
  margin-top: 0;
}
.env-course .toc a {
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  display: block;
}
.env-course .mdl-menu__container {
  z-index: 99;
}

.foundations {
  .mdl-color--primary {
    background-color:#FFEB3B!important;
  }
  .mdl-color--primary-dark {
    background-color:#FBC02D!important;
  }
  .mdl-layout__header {
    color:#616161!important;
  }
  .mdl-layout.is-upgraded .mdl-layout__tab.is-active {
    color:rgba(black,.5)!important;
  }
}

.env-layout__title, .env-layout--title {
  font-size: 25px;
  color:$env-color--b3;
  enventure{
    font-size: 32px;
  }
}

.enventure-drawer{
  .env-layout__title enventure, .env-layout--title enventure{
    color:white;
  }
}

.env-grid--no-spacing {
  // padding:0;
  //margin:8px;
}

.env-course .mdl-grid.mdl-grid--no-spacing {
    max-width: 844px;
}

// @media (max-width: 839px){
// .mdl-grid.mdl-grid--no-spacing {
//   margin:16px;
// }}

// .mdl-grid.mdl-grid--no-spacing .mdl-cell {
//   background:white;
// }

.mdl-card__supporting-text .material-icons {
  line-height: inherit;
  font-size: inherit;
}

.home .mdl-chip{
  background:color(light-blue,darken-4);
  color: white;
}

.env-section--test{
  padding-bottom:75px;
  background-color:$env-color;
  color:white;
  h3{
    font-weight: 200;
    margin-bottom: 48px;
  }
  .mdl-list__item-icon, .mdl-list__item-icon.material-icons {
    font-weight: 300;
    color: white;
  }
  .mdl-list__item{
    color:white;
    font-size:2em;
  }
  .mdl-list__item-icon, .mdl-list__item-icon.material-icons {
    height: 48px;
    width: 48px;
    font-size: 48px;
  }
  .mdl-badge[data-badge]:after{
    top:-7px;
    width: 26px;
    height: 26px;
  }
  .mdl-badge.mdl-badge--overlap:after {
    right: -7px;
  }
}

.env-section--test2{
  background-color:$env-color;
  color:white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  $hero-background-top: rgba(color(blue-grey,darken-3), .2); 
  $hero-background-bottom: rgba(color(blue-grey,darken-3), .1);
  $gradient-angle: 0deg;
  $hero-image: '../images/byob-sm.jpg';
  @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), url($hero-image));
  @media (max-width:839px){
    background: $env-color;
  }
  
  &__cards{
    .mdl-card{
      overflow: visible;
    }
    margin-bottom: -40px;
    .featured-quote{
      &:first-child{
        margin-top: -100px;
      }
      background-color: rgba(color("light-blue", "darken-4"),.7);
      min-height: 50px;
      flex-direction: row;
      align-items: center;
      @media (max-width:839px){
        flex-direction: column;
      }
      .image {
        min-width: initial;
        width: 30%;
        @media (max-width:839px){
          height: initial;
          width: 50%;
        }
        img {
          border-radius: 50%;
          width: 100%;
        }
      }
      .attributor {
        padding: 25px 0;
        width: 35%;
        @media (max-width:839px){
          padding: 0 25px;
          width: calc(100% - 50px);
        }
        .name {
          margin-top: 0;
        }
        .title {
          margin: 0;
          font-size: 16px;
        }
      }
      .content {
        height: initial;
        padding: 25px;
        blockquote{
          color: white;
          font-size: 18px;
          @media screen and (max-width: 479px){
            margin: 18px;
          }
        }
        cite{
          // color: $env-color--b2;
          color:$env-color--w2;
          a{
            color:white;
            text-decoration: underline;
          }
        }
      }
    }

    .featured-quote--small{
      background-color: rgba(color("light-blue", "darken-4"),.7);
      color:white;
      flex-direction: column;
      .image {
        height: initial;
        width: 50%;
        // background-color: #f5f5f5;
      }
      .attributor {
        padding: 0 25px;
        width: calc(100% - 50px);
      }
      .content {
        blockquote{
          // color: $env-color--b2;
          // font-size: 18px;
          margin: 8px;
        }
        
      }
    }

    .env-card--test{
      .mdl-card__media{
        background-repeat: no-repeat;
        background-position: center;
        background-size: 75%;
        height: 150px;
        background-color:#f5f5f5;
        &.mm{
          background-image:url("../images/mm-sm.png");
        }
        &.bala{
          background-image:url("../images/lindsay.jpg");
        }
      }
    }
  }
}

.env-section--programs{
  height:250px;
  background-color:$env-color;
  position: relative;
  margin-top:190px;
  color:white;
  h3{
    font-weight: 700;
    margin:12px 0;
  }
  .mdl-typography--subhead{
    font-weight: 300;
  }
  .env-shape{
    position:relative;
    top:-45px;
    width:80px;
    height:80px;
    border:solid white 5px;
    i{
      color:white;
      width:72px;
      height:72px;
      font-size:72px;
      margin:4px;

    }
  }
  .env-section__title{
    position:absolute;
    top: -190px;
    width:100%;
  }
}
.env-shape{
  &::hover{
    // @extend .mdl-shadow--3dp;
  }
  &--yellow{
    background-color:unquote("rgb(#{$palette-yellow-A400})");
  }
  &--pink{
    background-color:unquote("rgb(#{$palette-pink-A200})");
  }
  &--teal{
    background-color:unquote("rgb(#{$palette-teal-A400})");
  }
  &--circle{
    border-radius:50%;
  }
}
.env-layout--60{
  width:60%;
  margin:auto;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-around;
  @media only screen and (max-width: 839px){
    width: 95%;
  }
}


.mdl-tooltip{
  background:white;
  color:$env-color--b1;
  font-size: 12px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  padding: inherit, 8px;
}

.mdl-tooltip .arrow{
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 33%;
  margin-left: -35px;
  bottom: -16px;
}

.mdl-tooltip .arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  background-color: white;
  transform: rotate(45deg);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);

}

.social-btn__facebook {
  background-image: url(../images/fb.png);
  background-size: contain;
  cursor:pointer;
}

.social-btn__twitter {
  background-image: url(../images/twitter.svg);
  background-size: contain;
  cursor:pointer;
}

.social-btn__eventbrite {
  background-image: url(https://www.gstatic.com/images/icons/material/system/2x/post_twitter_black_24dp.png);
  cursor:pointer;
}

.mdl-mega-footer--social-btn, .mdl-mega-footer__social-btn {
  background-color:transparent;
}


// mixitup styles
/* Controls
---------------------------------------------------------------------- */

.controls {
  padding: 1rem;
  // background: #333;
  font-size: 0.1px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  box-sizing: border-box;
  align-self: stretch;
  align-items: center;
  // height: 64px;
  margin: 0;
  padding: 0 1rem;
}

.control-group { //multi-filter
  display: inline-block;
  margin-left: .75rem;
  vertical-align: top;
}

.control {
  position: relative;
  display: inline-block;
  // width: 2.7rem;
  // height: 2.7rem;
  padding: .5rem;
  background: #444;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 800;
  color: white;
  transition: background 150ms;
}

.control-text {
  width: auto;
  font-size: .9rem;
  padding: 0 1rem;
  // font-family: 'helvetica-neue', arial, sans-serif;
  // font-weight: 700;
}

.control:not(.mixitup-control-active):hover {
  background: #3f3f3f;
}

.control-sort:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-left: 2px solid;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
  transform:  translateY(2px) rotate(45deg);
}

.control-sort[data-sort*=":desc"]:after {
  transform:  translateY(-3px) rotate(-135deg);
}

// .mixitup-control-active {
//     background: #393939;
// }

.control:first-of-type {
  border-radius: 3px 0 0 3px;
}

.control:last-of-type {
  border-radius: 0 3px 3px 0;
}

.checkbox-group {
    display: inline-block;
    padding: .5rem;
    // background: #2a2a2a;
    margin-left: .75rem;
    vertical-align: top;
}

.checkbox {
  // text-align: justify;
  font-size: 0.1px;
  text-transform: none;
}

.checkbox:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.checkbox-input,
.checkbox-label {
    display: inline-block;
}

.checkbox-group-label,
.checkbox-label {
    // color: white;
    // font-family: 'helvetica-neue', arial, sans-serif;
    font-size: .9rem;
}

.checkbox-group-label {
    font-weight: bold;
    display: block;
    margin-bottom: .5rem;
}

.checkbox-label {
    margin-right: .5rem;
}

/* Container
---------------------------------------------------------------------- */

.container {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

// .container:after {
//     content: '';
//     display: inline-block;
//     width: 100%;
// }

/* Target Elements
---------------------------------------------------------------------- */

.mix,
.gap {
    display: inline-block;
    vertical-align: top;
}

.mix {
    background: #fff;
    // border-top: .5rem solid currentColor;
    // border-radius: 2px;
    margin-bottom: 1rem;
    position: relative;
    color:transparent;
    .mdl-card{
      width:auto;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      min-height: 360px;
      h3{
        margin:0
        a {
          text-decoration: none;
        }
      }
      .mdl-card__media a, .mdl-card__title a {
        color: inherit;
      }
      .mdl-card__supporting-text {
        width: 100%;
        padding: 16px;
        min-height: 64px;
        display: flex;
        align-items: center;
      }
      .mdl-card__supporting-text:not(:last-child) {
        box-sizing: border-box;
        min-height: 76px;
      }
      .mdl-card__media{
        box-sizing: border-box;
        background-size: cover;
        padding: 24px;
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        align-items: flex-end;
        cursor: pointer;
      }
      &.shopping .mdl-card__media {
        background-image: url(../images/grass.svg);
      }
      .mdl-card__supporting-text ~ .mdl-card__supporting-text {
          border-top: 1px solid rgba(0,0,0,0.1);
      }
      .meta > * {
        display: flex;
        flex-direction: column;
      }
      .meta {
          box-sizing: border-box;
          padding: 16px;
          display: flex;
          flex-direction: row;          
          align-items: center;
          justify-content: flex-start;
          height: auto;
      }
      .meta > *:first-child {
          margin-right: 16px;
      }
      .minilogo {
          width: 44px;
          height: 44px;
          background-image: url(../images/default.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: 50%;
          border-radius: 22px;
          background-color: #F5F5F5;
      }
    }
}

.mix:before {
    content: '';
    display: inline-block;
    padding-top: 8rem; //doing this in :before is so the shape background image maintains aspect ratio (100% for shapes)
}


.mix.green {
    color: #91e6c7;
}

.mix.pink {
    color: #d595aa;
}

.mix.blue {
    color: #5ecdde;
}

.mix:after {
    content: '';
    position: absolute;
}

.mix h1{
  padding: 1rem;
  display: inline-block;
}

.mix p {
    padding: 1rem;
    display: inline-block;
    font-size: calc(1vw + .5rem);
    color: #333;
    line-height: 1.4;
    font-weight: 300;
}

.mix.square:after,
.mix.circle:after {
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
    background: currentColor;
    border-radius: 3px;
}

.mix.circle:after {
    border-radius: 100%;
}

.mix.triangle:after {
    font-size: 3vw;
    border: 3em solid transparent;
    border-bottom: 5em solid currentColor;
    border-top: 0;
    left: calc(50% - 3em);
    top: calc(50% - 3em);
}

.mix.medium:after {
    transform: scale(.75);
}

.mix.small:after {
    transform: scale(.5);
}

/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns */

.mix,
.gap {
    width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
}

.mix-2, .mix-3, .mix-4, .mix-5{
  width: 100%;
}

/* 3 Columns */

@media screen and (min-width: 541px) {
    .mix,
    .gap {
        width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
    }

    .mix-2{
      width: calc(200%/3 - (((2 - 1) * 1rem) / 3));
    }
    .mix-3, .mix-4, .mix-5{
      width: 100%;
    }

    .mix.triangle:after {
        font-size: 2vw;
    }
}

/* 4 Columns */

@media screen and (min-width: 961px) {
    .mix,
    .gap {
      width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
    }

    .mix-2{
      width: calc(200%/4 - (((3 - 1) * 1rem) / 4));
    }
    .mix-3{
      width: calc(300%/4 - (((2 - 1) * 1rem) / 4));
    }
    .mix-4, .mix-5{
      width: 100%;
    }

    .mix.triangle:after {
        font-size: 1.5vw;
    }
}

/* 5 Columns */

@media screen and (min-width: 1281px) {
    .mix,
    .gap {
      width: calc(100%/5 - (((5 - 1) * 1rem) / 5));
    }

    .mix-2{
      width: calc(200%/5 - (((4 - 1) * 1rem) / 5));
    }

    .mix-3{
      width: calc(300%/5 - (((3 - 1) * 1rem) / 5));
    }
    .mix-4{
      width: calc(400%/5 - (((2 - 1) * 1rem) / 5));
    }
    .mix-5{
      width: 100%;
    }

    .mix.triangle:after {
        font-size: 1.25vw;
    }
}

// /* 6 Columns */

// @media screen and (min-width: 1401px) {
//     .mix,
//     .gap {
//         width: calc(100%/6 - (((6 - 1) * 1rem) / 6));
//     }

//     .mix.triangle:after {
//         font-size: 1vw;
//     }
// }

// end mixitup styles

//flex-box
.Grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items:stretch;
  justify-content: space-between;
  align-content:flex-start;
  opacity:0;
}

.Grid-cell {
  flex: 1;
}

/* With gutters */
.Grid--gutters {
  margin: -1em 0 0 -1em;
}
.Grid--gutters > .Grid-cell {
  padding: 1em 0 0 1em;
}



/* Base classes for all media */
.Grid--fit > .Grid-cell {
  flex: 1;
}
.Grid--full > .Grid-cell {
  flex: 1 1 100%;
}
.Grid--1of2 > .Grid-cell {
  flex: 1 1 50%
}
.Grid--1of3 > .Grid-cell {
  flex: 1 1 33.3333%
}
.Grid--1of4 > .Grid-cell {
  flex: 1 1 25%
}
.Grid-cell--small{
  flex-shrink: 2!important;
  flex-basis: 33.3333333%!important;
}
.Grid-cell--large{
  flex-grow: 2!important;
  flex-basis: 50%!important;
}

/* Small to medium screens */
@media (min-width: 24em) {
  .small-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .small-Grid--full > .Grid-cell {
    flex: 1 1 100%;
  }
  .small-Grid--1of2 > .Grid-cell {
    flex: 1 1 50%
  }
  .small-Grid--1of3 > .Grid-cell {
    flex: 1 1 33.3333%
  }
  .small-Grid--1of4 > .Grid-cell {
    flex: 1 1 25%
  }
  .Grid-cell--small{
    flex-shrink: 2!important;
    flex-basis: 50%!important;
  }
  .Grid-cell--large{
    flex-grow: 2!important;
    flex-basis: 100%!important;
  }
}

/* Large screens */
@media (min-width: 48em) {
  .large-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .large-Grid--full > .Grid-cell {
    flex: 1 1 100%;
  }
  .large-Grid--1of2 > .Grid-cell {
    flex: 1 1 50%
  }
  .large-Grid--1of3 > .Grid-cell {
    flex: 1 1 33.3333%
  }
  .large-Grid--1of4 > .Grid-cell {
    flex: 1 1 25%
  }
  .Grid-cell--small{
    flex-shrink: 2!important;
    flex-basis: 25%!important;
  }
  .Grid-cell--large{
    flex-grow: 2!important;
    flex-basis: 50%!important;
  }
}

.mdl-layout__header-row--no-pad{
  padding: 0 16px;
}

.temp-section
{
  height: 400px;
  &.red{
    background:red;
  }
  &.blue{
    background:blue;
  }
}

//community map styles from mdl docs site
.mdl-layout__content.docs-layout-content {
  overflow: visible;
}

.mdl-button--raised.mdl-button--colored {
    color: white;
}

.mdl-components .mdl-components__nav{
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.docs-readme{
  animation: fadein 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.Grid{
  animation: fadeinleft 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  animation-delay: 0.3s;
}

.mdl-components__classname{
  opacity:0;
  animation: fadein 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  animation-delay: 0.7s;
}

@keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
}

@keyframes fadeinup {
    from { opacity: 0; transform:translateY(100vh)}
    to   { opacity: 1; transform:translateY(0px)}
}

@keyframes fadeinleft {
    from { opacity: 0; transform:translateX(100vw)}
    to   { opacity: 1; transform:translateY(0px)}
}

.mdl-button .material-icons{
  color:$env-color--b3;
}

.mdl-chip{
  background-color:rgba(0,0,0,.06);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover{
    background-color:rgba(0,0,0,.1);  
  }
}

.mdl-button--raised{
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover{
    box-shadow: 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12), 0 5px 5px -3px rgba(0,0,0,.2);
  }
}

//collapsing header
// .cd-auto-hide-header {
//   // position: fixed;
//   // z-index: 2;
//   /* Force Hardware Acceleration */
//   transform: translateZ(0);
//   will-change: transform;
//   // transition: transform .5s;

//   &.is-hidden {
//     transform: translateY(-100%);
//   }
// }

// .cd-secondary-nav {
//   position: relative;
//   z-index: 1;
//   clear: both;
//   /* Force Hardware Acceleration */
//   transform: translateZ(0);
//   will-change: transform;
//   transition: transform .5s;  
// }

// html{
//   // height:initial;
// }
// .components{
//   // height:initial;
// }

// .mdl-layout{
//   // height:initial;
// }

// .components .mdl-layout__container {
//   // height:initial;
// }


//main.css .about-panel
section .about-panel--templates {
  padding: 0 40px;
}

.mdl-layout__header-row.hero{
  align-items:flex-end;
  padding:0;
}

.about-panel {
    box-sizing: border-box;
    width: 100%;
    flex-grow: 1
}

.enrich .about-panel--text {
  padding: 100px;
  // background-color:white;

}

// .is-small-screen .about-panel--text{
//   padding:40px;
// }

// .about-panel--text p {
//     width: 640px;
//     margin: 0 auto;
//     line-height: 2em
// }

.about-panel--text dl {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch
}

.about-panel--text dl dt {
    text-align: right;
    vertical-align: top;
    display: inline-table;
    margin-right: 24px;
    line-height: 2em
}

.about-panel--text dl dd {
    text-align: left;
    line-height: 2em;
    vertical-align: top;
    width: 700px;
    margin: 0 0 0 24px
}

.docs-layout .is-small-screen .about-panel {
    padding: 40px
}

.docs-layout .is-small-screen .about-panel--text:not(:first-of-type) {
    // display: none
}

.docs-layout .is-small-screen .about-panel--text dl {
    flex-direction: column
}

.docs-layout .is-small-screen .about-panel--text dd,.docs-layout .is-small-screen .about-panel--text dt {
    margin: 0 0 24px 0;
    padding: 0;
    text-align: left;
    width: 100%
}

.about-panel--components,.about-panel--styles {
    height: 500px
}

.about-panel--components,.about-panel--styles,.about-panel--customize,.about-panel--templates {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    // padding: 40px;
    // color: #fff;
    text-transform: none;
    font-size: 1.4rem;
    width: auto;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer
}

.about-panel--templates {
    height: 300px;
    height: 50vh;
    max-height: 500px;
}

.docs-layout-content .about-panel--start>p {
    color: #424242;
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-top: 20px;
    margin-bottom: 0
}

.enrich .about-panel--templates {
    // background-color: #B3E0E1;
    // background-image: url(templates.svg);
    // background-size: 287px auto;
    $gradient-angle: 0deg;
    $hero-background-bottom: rgba(white, 0.9); 
    $hero-background-top: rgba(white, 0);
    // $hero-image: '../images/houston.svg';
    @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top,$hero-background-top, $hero-background-top));
}

.about-panel--templates:hover {
    // background-image: url(templates_mo.svg)
}

.about-panel--components {
    background-color: #E90974;
    background-image: url(../assets/ic_domain_48px.svg);
    background-size: 174px auto;
    color:white;
    transition: all 0.3s ease;
}

.about-panel--components:hover {
    background-image: url(../assets/ic_done_all_white_24px.svg)
}

.about-panel--styles {
    background-color: #8F4099;
    background-image: url(../assets/ic_assignment_ind_white_24px.svg);
    background-size: 252px auto;
    color:white;
    transition: all 0.3s ease;
}

.about-panel--styles:hover {
    background-image: url(../assets/ic_assignment_white_24px.svg);
    // background-size: 331px auto;
    // background-position-x: calc(50% + 40px)
}

section.about-panel--styles:hover:after{
    content: 'Develop connections and gain first-hand experience';
}

section.about-panel--components:hover:after{
    content: 'Connect with smart, qualified talent';
}

connect with great talent + see their abilities firsthand
  Smart, qualified teams with expertise in the field
  Great value 

.about-panel--customize {
    height: 400px;
    background-color: inherit;
    background-image: url(customize.svg);
    background-size: 156px auto
}

.about-panel--customize:hover {
    background-image: url(customize_mo.svg)
}

body.enrich{
  background: linear-gradient(227deg, #ffffff, #0098ea, #b3e5fc, #ffffff);
  background-size: 800% 800%;

  animation: AnimationName 30s ease infinite;

  @keyframes AnimationName { 
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}

.mdl-list__item--three-line {
  height:initial;
  .mdl-list__item-primary-content {
    height:initial;
    .mdl-list__item-text-body{
      height:initial;
    }
  }
}

.mdl-list__item-avatar, .mdl-list__item-avatar.material-icons{
  background-color: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mdl-list__item-avatar, .mdl-list__item-avatar.material-icons{
  width:150px;
  height:150px;
  .is-small-screen &{
    width:50px;
    height:50px;
  }
}

.beta-badge {
    position: absolute;
    right: 18px;
    top: -16px;
    padding: 2px 3px;
    border-radius: 2px;
    background: #fe6363;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
}

dd .mdl-card{
  width:inherit;
}

.mdl-data-table{
  margin: auto;
}

.started .white-bg{
  background:radial-gradient(circle at top,#ffffff, #fafafa)
}

section.about-panel, 
section.docs-text-styling{
  padding:40px;
}

// responsive table
@media only screen and (max-width: 480px) {

  table, thead, tbody, th, td, tr {
      display: block;
  }

  thead {
    display: none;
  }

  // mdl specifics

  .mdl-data-table tbody tr {
    height: auto;
  }
  
  .mdl-data-table tbody tr:nth-child(even) {
    background-color: #eee;
  }

  .mdl-data-table td,
  .mdl-data-table td:first-of-type {
    // padding-left: 50%;
  }

  .mdl-data-table td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding: 6px 18px 0;
    white-space: nowrap;
    content: attr(data-label);
    text-align: left;
    color: rgba(0, 0, 0, 0.541176);
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
  }
  
  .mdl-data-table td:last-of-type {
    padding-right: 18px;
  }
  
}

.enrich blockquote{
  font-size:1.5em
}

.docs-layout-header{
  position:relative;
}

@media screen and (max-width: 1024px){
  .mdl-layout__header {
      display: inherit;
  }
}

@media (max-width: 850px) {
  .guide main.mdl-components__pages{
    padding-top:120px;
  }
}